Repository WordPress/performance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mukeshpanchal27, @felixarntz, @thelovekesh, @adamsilverstein, @manuelRod, @joemcgill, @pbearne, @spacedmonkey, @westonruter

.github/CODEOWNERS:

# Documentation/Infrastructure
/admin                                      @mukeshpanchal27 @felixarntz
/tests/admin                                @mukeshpanchal27 @felixarntz
/bin                                        @mukeshpanchal27 @felixarntz
/.github                                    @mukeshpanchal27 @felixarntz @thelovekesh

# Site Health: AVIF Support Health Check
/includes/site-health/avif-support                                          @adamsilverstein

# Site Health: WebP Support Health Check
/includes/site-health/webp-support                                          @adamsilverstein

# Site Health: Autoloaded Options Health Check
/includes/site-health/audit-autoloaded-options                              @manuelRod @felixarntz @mukeshpanchal27
/tests/includes/site-health/audit-autoloaded-options                        @manuelRod @felixarntz @mukeshpanchal27

# Site Health: Enqueued Assets Health Check
/includes/site-health/audit-enqueued-assets                                 @manuelRod
/tests/includes/site-health/audit-enqueued-assets                           @manuelRod
/tests/testdata/modules/site-health/audit-enqueued-assets                   @manuelRod

# Plugin: Auto-sizes for Lazy-Loaded Images
/plugins/auto-sizes                         @joemcgill
/tests/plugins/auto-sizes                   @joemcgill

# Plugin: Speculative Loading
/plugins/speculation-rules                  @felixarntz
/tests/plugins/speculation-rules            @felixarntz

# Plugin: Modern Image Formats
/plugins/webp-uploads                       @adamsilverstein @felixarntz
/tests/plugins/webp-uploads                 @adamsilverstein @felixarntz

# Plugin: Image Placeholders
/plugins/dominant-color-images              @pbearne @spacedmonkey
/tests/plugins/dominant-color-images        @pbearne @spacedmonkey

# Plugin: Embed Optimizer
/plugins/embed-optimizer                    @adamsilverstein @westonruter
/tests/plugins/embed-optimizer              @adamsilverstein @westonruter

# Plugin: Optimization Detective
/plugins/optimization-detective             @westonruter @felixarntz
/tests/plugins/optimization-detective       @westonruter @felixarntz

Fix typing for perflab_aao_query_autoloaded_options
  includes/site-health/audit-autoloaded-options/helper.php
Owners: @manuelRod, @felixarntz, @mukeshpanchal27

Add format scripts to composer.json
  composer.json
Owners: none

Add and apply SlevomatCodingStandard.TypeHints.ReturnTypeHint sniff
  bin/phpcs/phpcs.ruleset.xml
  includes/admin/server-timing.php
  includes/server-timing/defaults.php
  includes/server-timing/load.php
  plugins/auto-sizes/hooks.php
  plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/hooks.php
  plugins/embed-optimizer/hooks.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/uninstall.php
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/settings.php
  plugins/speculation-rules/uninstall.php
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/image-edit.php
  plugins/webp-uploads/rest-api.php
  plugins/webp-uploads/settings.php
  plugins/webp-uploads/uninstall.php
  tests/bootstrap.php
  tests/includes/admin/load-tests.php
  tests/includes/admin/server-timing-tests.php
  tests/includes/server-timing/load-tests.php
  tests/includes/server-timing/perflab-server-timing-metric-tests.php
  tests/includes/server-timing/perflab-server-timing-tests.php
  tests/includes/site-health/audit-autoloaded-options/audit-autoloaded-options-test.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-helper-test.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-test.php
  tests/load-tests.php
  tests/testdata/modules/site-health/audit-enqueued-assets/class-audit-assets-transients-set.php
  tests/testdata/modules/site-health/audit-enqueued-assets/class-site-health-mock-responses.php
  tests/utils/Constraint/ImageHasSource.php
  tests/utils/TestCase/DominantColorTestCase.php
  tests/utils/TestCase/ImagesTestCase.php
Owners: @mukeshpanchal27, @felixarntz, @joemcgill, @pbearne, @spacedmonkey, @adamsilverstein, @westonruter, @manuelRod

Supply missing return type hints
  plugins/embed-optimizer/hooks.php
  tests/includes/server-timing/load-tests.php
  tests/includes/server-timing/perflab-server-timing-tests.php
  tests/utils/Filesystem/WP_Filesystem_MockFilesystem.php
Owners: @adamsilverstein, @westonruter

Add and apply SlevomatCodingStandard.TypeHints.ParameterTypeHint
  bin/phpcs/phpcs.ruleset.xml
  tests/includes/server-timing/load-tests.php
  tests/includes/server-timing/perflab-server-timing-tests.php
  tests/includes/site-health/audit-autoloaded-options/audit-autoloaded-options-test.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-test.php
  tests/testdata/modules/site-health/audit-enqueued-assets/class-audit-assets-transients-set.php
  tests/testdata/modules/site-health/audit-enqueued-assets/class-site-health-mock-responses.php
  tests/utils/Constraint/ImageHasSizeSource.php
  tests/utils/Constraint/ImageHasSource.php
  tests/utils/TestCase/ImagesTestCase.php
Owners: @mukeshpanchal27, @felixarntz, @manuelRod

Add parameter types
  plugins/auto-sizes/hooks.php
  plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/hooks.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/image-edit.php
  tests/includes/server-timing/perflab-server-timing-tests.php
Owners: @joemcgill, @pbearne, @spacedmonkey, @westonruter, @felixarntz, @adamsilverstein

Disable SlevomatCodingStandard.TypeHints in WP_Filesystem_MockFilesystem
  tests/utils/Filesystem/WP_Filesystem_MockFilesystem.php
Owners: none

Format test files
  tests/plugins/auto-sizes/auto-sizes-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/plugins/dominant-color-images/dominant-color-test.php
  tests/plugins/embed-optimizer/embed-optimizer-test.php
  tests/plugins/optimization-detective/detection-tests.php
  tests/plugins/optimization-detective/optimization-tests.php
  tests/plugins/optimization-detective/storage/class-od-storage-lock-tests.php
  tests/plugins/optimization-detective/storage/class-od-url-metrics-post-type-tests.php
  tests/plugins/optimization-detective/storage/data-tests.php
  tests/plugins/speculation-rules/plsr-url-pattern-prefixer-test.php
  tests/plugins/speculation-rules/speculation-rules-helper-test.php
  tests/plugins/speculation-rules/speculation-rules-settings-test.php
  tests/plugins/speculation-rules/speculation-rules-test.php
  tests/plugins/speculation-rules/speculation-rules-uninstall-tests.php
  tests/plugins/webp-uploads/data/class-wp-image-doesnt-support-webp.php
  tests/plugins/webp-uploads/data/class-wp-image-edit.php
  tests/plugins/webp-uploads/helper-tests.php
  tests/plugins/webp-uploads/image-edit-tests.php
  tests/plugins/webp-uploads/load-tests.php
  tests/plugins/webp-uploads/rest-api-tests.php
  tests/plugins/webp-uploads/settings-tests.php
Owners: @joemcgill, @pbearne, @spacedmonkey, @adamsilverstein, @westonruter, @felixarntz

Fix subclass compatibility with base class
  tests/plugins/webp-uploads/data/class-wp-image-doesnt-support-webp.php
  tests/utils/Constraint/ImageHasSizeSource.php
  tests/utils/Constraint/ImageHasSource.php
Owners: @adamsilverstein, @felixarntz

Fix auto-sizes
  plugins/auto-sizes/hooks.php
Owners: @joemcgill

Fix speculation-rules
  plugins/speculation-rules/class-plsr-url-pattern-prefixer.php
  plugins/speculation-rules/helper.php
  tests/plugins/speculation-rules/plsr-url-pattern-prefixer-test.php
  tests/plugins/speculation-rules/speculation-rules-helper-test.php
  tests/plugins/speculation-rules/speculation-rules-settings-test.php
  tests/plugins/speculation-rules/speculation-rules-test.php
Owners: @felixarntz

Fix dominant-color-images
  plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/hooks.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/plugins/dominant-color-images/dominant-color-test.php
Owners: @pbearne, @spacedmonkey

Fix embed optimizer
  tests/plugins/embed-optimizer/embed-optimizer-test.php
Owners: @adamsilverstein, @westonruter

Fix function stub docs
  bin/phpstan/filtered-functions.stub
Owners: @mukeshpanchal27, @felixarntz

Fix test/utils
  tests/utils/Constraint/ImageHasSource.php
  tests/utils/Filesystem/WP_Filesystem_MockFilesystem.php
  tests/utils/TestCase/DominantColorTestCase.php
Owners: none

Fix webp-uploads
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/image-edit.php
  tests/plugins/webp-uploads/data/class-wp-image-edit.php
  tests/plugins/webp-uploads/helper-tests.php
  tests/plugins/webp-uploads/image-edit-tests.php
  tests/plugins/webp-uploads/load-tests.php
Owners: @adamsilverstein, @felixarntz

Fix: Function od_handle_rest_request() has parameter $request with generic class WP_REST_Request but does not specify its types: T
  phpstan.neon.dist
Owners: none

Fix server-timing and site-health tests
  tests/includes/server-timing/load-tests.php
  tests/includes/server-timing/perflab-server-timing-metric-tests.php
  tests/includes/server-timing/perflab-server-timing-tests.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-test.php
  tests/testdata/modules/site-health/audit-enqueued-assets/class-site-health-mock-responses.php
Owners: @manuelRod

Fix typing in dominant-color-images
  tests/plugins/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/plugins/dominant-color-images/dominant-color-test.php
Owners: @pbearne, @spacedmonkey

Add SlevomatCodingStandard.TypeHints.PropertyTypeHint
  bin/phpcs/phpcs.ruleset.xml
Owners: @mukeshpanchal27, @felixarntz

Linter fixes
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/settings.php
Owners: @adamsilverstein, @felixarntz

Improve AVIF support tests
  plugins/webp-uploads/helper.php
Owners: @adamsilverstein, @felixarntz

Settings: ensure WebP selected if AVIF is not supported.
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/settings.php
Owners: @adamsilverstein, @felixarntz

Improve AVIF support test, take 2
  plugins/webp-uploads/helper.php
Owners: @adamsilverstein, @felixarntz

Add comments explaining why PHPStan is ignored
  tests/includes/server-timing/perflab-server-timing-tests.php
Owners: none

Remove rememberPossiblyImpureFunctionValues:false from PHPStan config
  phpstan.neon.dist
  tests/plugins/webp-uploads/image-edit-tests.php
Owners: @adamsilverstein, @felixarntz

Remove need for suppressing checkGenericClassInNonGenericObjectType
  phpstan.neon.dist
  plugins/optimization-detective/storage/rest-api.php
Owners: @westonruter, @felixarntz

Update PHPStan level to 7
  phpstan.neon.dist
Owners: none

Address majority of non-test PHPStan issues in optimization-detective
  plugins/optimization-detective/class-od-html-tag-walker.php
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
Owners: @westonruter, @felixarntz

Fix embed-optimizer issues
  plugins/embed-optimizer/hooks.php
Owners: @adamsilverstein, @westonruter

Fix speculation-rules issues
  plugins/speculation-rules/class-plsr-url-pattern-prefixer.php
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/settings.php
Owners: @felixarntz

Added server timing to REST API response
  includes/server-timing/load.php
Owners: none

Updated code to include a hooks.php file
  includes/server-timing/hooks.php
  includes/server-timing/load.php
Owners: none

Fix issues in webp-uploads
  bin/phpstan/filtered-functions.stub
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/image-edit.php
  plugins/webp-uploads/rest-api.php
Owners: @mukeshpanchal27, @felixarntz, @adamsilverstein

Fix issues in includes
  includes/admin/plugins.php
  includes/server-timing/class-perflab-server-timing.php
  includes/server-timing/defaults.php
  includes/server-timing/load.php
  includes/site-health/audit-enqueued-assets/helper.php
Owners: @manuelRod

Increase specificity of registered_metrics_data typing
  includes/server-timing/class-perflab-server-timing.php
Owners: none

Fix issues in plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/helper.php
Owners: @pbearne, @spacedmonkey

Update tests/plugins/webp-uploads/data/class-wp-image-doesnt-support-webp.php
  tests/plugins/webp-uploads/data/class-wp-image-doesnt-support-webp.php
Owners: @adamsilverstein, @felixarntz

Update plugins/webp-uploads/hooks.php
  plugins/webp-uploads/hooks.php
Owners: @adamsilverstein, @felixarntz

Update plugins/webp-uploads/settings.php
  plugins/webp-uploads/settings.php
Owners: @adamsilverstein, @felixarntz
