Repository WordPress/performance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mukeshpanchal27, @felixarntz, @thelovekesh, @adamsilverstein, @manuelRod, @joemcgill, @westonruter, @pbearne, @spacedmonkey

.github/CODEOWNERS:

# Documentation/Infrastructure
/.github                                    @mukeshpanchal27 @felixarntz @thelovekesh
/bin                                        @mukeshpanchal27 @felixarntz @thelovekesh

# Performance Lab Plugin Admin
/includes/admin                             @mukeshpanchal27 @felixarntz
/tests/includes/admin                       @mukeshpanchal27 @felixarntz

# Server Timing API
/includes/server-timing                    @felixarntz
/tests/includes/server-timing              @felixarntz

# Site Health: AVIF Support Health Check
/includes/site-health/avif-support                                          @adamsilverstein

# Site Health: WebP Support Health Check
/includes/site-health/webp-support                                          @adamsilverstein

# Site Health: Autoloaded Options Health Check
/includes/site-health/audit-autoloaded-options                              @manuelRod @felixarntz @mukeshpanchal27
/tests/includes/site-health/audit-autoloaded-options                        @manuelRod @felixarntz @mukeshpanchal27

# Site Health: Enqueued Assets Health Check
/includes/site-health/audit-enqueued-assets                                 @manuelRod
/tests/includes/site-health/audit-enqueued-assets                           @manuelRod
/tests/testdata/modules/site-health/audit-enqueued-assets                   @manuelRod

# Plugin: Auto-sizes for Lazy-Loaded Images
/plugins/auto-sizes                         @joemcgill
/tests/plugins/auto-sizes                   @joemcgill

# Plugin: Embed Optimizer
/plugins/embed-optimizer                    @adamsilverstein @westonruter
/tests/plugins/embed-optimizer              @adamsilverstein @westonruter

# Plugin: Image Placeholders
/plugins/dominant-color-images              @pbearne @spacedmonkey
/tests/plugins/dominant-color-images        @pbearne @spacedmonkey

# Plugin: Image Prioritizer
/plugins/image-prioritizer                  @westonruter @felixarntz
/tests/plugins/image-prioritizer            @westonruter @felixarntz

# Plugin: Modern Image Formats
/plugins/webp-uploads                       @adamsilverstein @felixarntz @westonruter
/tests/plugins/webp-uploads                 @adamsilverstein @felixarntz @westonruter

# Plugin: Optimization Detective
/plugins/optimization-detective             @westonruter @felixarntz
/tests/plugins/optimization-detective       @westonruter @felixarntz

# Plugin: Speculative Loading
/plugins/speculation-rules                  @felixarntz
/tests/plugins/speculation-rules            @felixarntz

Move to own plugin
  composer.json
  plugins.json
  plugins/performance-dashboard/assets/performance-dashboard-widget.js
  plugins/performance-dashboard/assets/performance-dashboard.js
  plugins/performance-dashboard/helper.php
  plugins/performance-dashboard/hooks.php
  plugins/performance-dashboard/load.php
  plugins/performance-dashboard/phpcs.xml.dist
  plugins/performance-dashboard/readme.txt
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/load.php
  webpack.config.js
Owners: none

Fixes
  package-lock.json
  plugins/performance-dashboard/helper.php
Owners: none

Lowercase context
  plugins/webp-uploads/settings.php
Owners: @adamsilverstein, @felixarntz, @westonruter

Lint fixes
  plugins/performance-dashboard/assets/performance-dashboard-widget.js
  plugins/performance-lab/includes/admin/plugins.php
Owners: none

More fixes
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/load.php
  tools/phpstan/constants.php
Owners: @westonruter, @felixarntz

Use `wp_list_sort`
  plugins/performance-lab/includes/admin/plugins.php
Owners: none

Add `array_filter`
  plugins/performance-lab/includes/admin/plugins.php
Owners: none

Test fixes
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-optimization.php
  plugins/performance-lab/includes/admin/plugins.php
Owners: @westonruter, @felixarntz

Fix alignment
  plugins/performance-lab/includes/admin/plugins.php
Owners: none

Fix implementation of count method
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
Owners: @westonruter, @felixarntz

Improve how Embed Optimizer cleans up its bookmarks and add test with another tag visitor
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
Owners: @adamsilverstein, @westonruter
