Repository WordPress/performance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JustinyAhin, @felixarntz, @olliejones, @adamsilverstein, @getsource, @aristath, @sgomes, @tillkruss, @spacedmonkey, @mitogh, @kirtangajjar, @manuelRod, @pbearne, @westonruter

Correct color assignment
  modules/images/dominant-color/load.php
Owners: @pbearne, @spacedmonkey

phpcs: ignore code sections copied from core
  modules/images/dominant-color/load.php
Owners: @pbearne, @spacedmonkey

cleanup spacing
  modules/images/dominant-color/load.php
Owners: @pbearne, @spacedmonkey

Enhance object-cache.php drop-in interoperability and add comprehensive testing via mock filesystem.
  load.php
  phpunit.xml.dist
  tests/load-tests.php
  tests/multisite.xml
  tests/utils/Filesystem/WP_Filesystem_MockFilesystem.php
Owners: none

Implement experimental modules to preload hero image via link tag vs Early Hints header.
  modules/images/hero-image-early-hints/load.php
  modules/images/hero-image-preload/load.php
Owners: @adamsilverstein, @getsource

Implement experimental modules to preload theme style.css via link tag vs Early Hints header.
  modules/js-and-css/theme-style-early-hints/load.php
  modules/js-and-css/theme-style-preload/load.php
Owners: @aristath, @sgomes

Implement various fixes.
  modules/images/hero-image-early-hints/load.php
  modules/images/hero-image-preload/load.php
  modules/js-and-css/theme-style-early-hints/load.php
  modules/js-and-css/theme-style-preload/load.php
Owners: @adamsilverstein, @getsource, @aristath, @sgomes

Fix undefined variable notice.
  modules/js-and-css/theme-style-early-hints/load.php
Owners: @aristath, @sgomes

Use variables for drop-in file and backup paths.
  load.php
Owners: none

Fix Early Hints code, but only in theory - still does not work in practice.
  modules/images/hero-image-early-hints/load.php
  modules/js-and-css/theme-style-early-hints/load.php
Owners: @adamsilverstein, @getsource, @aristath, @sgomes

Remove warning message
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Apply suggestions from code review
  modules/images/dominant-color/load.php
Owners: @pbearne, @spacedmonkey

Bump json5 version
  package-lock.json
Owners: none

Update version numbers for 1.9.0
  load.php
  readme.txt
Owners: none

Update changelog for 1.9.0
  readme.txt
Owners: none

Update plugin header version
  load.php
Owners: none

Update modules/images/dominant-color/load.php
  modules/images/dominant-color/load.php
Owners: @pbearne, @spacedmonkey

Update modules/images/dominant-color/load.php
  modules/images/dominant-color/load.php
Owners: @pbearne, @spacedmonkey

Update load.php
  load.php
Owners: none

remove whitespace
  load.php
Owners: none

tweaks
  load.php
Owners: none

fix @since tag
  load.php
Owners: none

add test case
  tests/server-timing/load-tests.php
Owners: none

remove whitespace
  tests/server-timing/load-tests.php
Owners: none

move test to correct file
  tests/load-tests.php
  tests/server-timing/load-tests.php
Owners: none

Use correct number of arguments in filter callback
  modules/images/webp-uploads/image-edit.php
Owners: @adamsilverstein, @felixarntz, @mitogh

bump wordpress version
  load.php
Owners: none

Remove object cache
  default-enabled-modules.php
  load.php
  modules/object-cache/audit-full-page-cache/can-load.php
  modules/object-cache/audit-full-page-cache/helper.php
  modules/object-cache/audit-full-page-cache/load.php
  modules/object-cache/persistent-object-cache-health-check/can-load.php
  modules/object-cache/persistent-object-cache-health-check/load.php
  tests/load-tests.php
Owners: @manuelRod, @westonruter, @tillkruss, @spacedmonkey

retun blank if code reaches last line
  admin/load.php
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-pdo-user-defined-functions.php
Owners: @JustinyAhin, @felixarntz, @olliejones

add variable name
  load.php
Owners: none

return true is showing of error is not disabled
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-db.php
Owners: @olliejones

fix doc type and return statement
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-db.php
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-pdo-engine.php
Owners: @olliejones

restoring a bug
  admin/load.php
Owners: @JustinyAhin, @felixarntz

fix add_filter
  admin/load.php
Owners: @JustinyAhin, @felixarntz

.github/CODEOWNERS:

# Documentation/Infrastructure
/admin                                      @JustinyAhin @felixarntz
/tests/admin                                @JustinyAhin @felixarntz
/bin                                        @JustinyAhin @felixarntz
/.github                                    @JustinyAhin @felixarntz

# Focus: Database
/modules/database                           @olliejones
/tests/modules/database                     @olliejones
/tests/testdata/modules/database            @olliejones

# Focus: Images
/modules/images                             @adamsilverstein @getsource
/tests/modules/images                       @adamsilverstein @getsource
/tests/testdata/modules/images              @adamsilverstein @getsource

# Focus: JS & CSS
/modules/js-and-css                         @aristath @sgomes
/tests/modules/js-and-css                   @aristath @sgomes
/tests/testdata/modules/js-and-css          @aristath @sgomes

# Focus: Measurement
/modules/measurement
/tests/modules/measurement
/tests/testdata/modules/measurement

# Focus: Object Cache
/modules/object-cache                       @tillkruss @spacedmonkey
/tests/modules/object-cache                 @tillkruss @spacedmonkey
/tests/testdata/modules/object-cache        @tillkruss @spacedmonkey

# Module: WebP Uploads
/modules/images/webp-uploads                                                @adamsilverstein @felixarntz @mitogh
/tests/modules/images/webp-uploads                                          @adamsilverstein @felixarntz @mitogh
/tests/testdata/modules/images/webp-uploads                                 @adamsilverstein @felixarntz @mitogh

# Module: WebP Support Health Check
/modules/images/webp-support                                                @adamsilverstein @kirtangajjar @mitogh
/tests/modules/images/webp-support                                          @adamsilverstein @kirtangajjar @mitogh
/tests/testdata/modules/images/webp-support                                 @adamsilverstein @kirtangajjar @mitogh

# Module: Autoloaded Options Health Check
/modules/database/audit-autoloaded-options                                  @manuelRod
/tests/modules/database/audit-autoloaded-options                            @manuelRod
/tests/testdata/modules/database/audit-autoloaded-options                   @manuelRod

# Module: Enqueued Assets Health Check
/modules/js-and-css/audit-enqueued-assets                                   @manuelRod
/tests/modules/js-and-css/audit-enqueued-assets                             @manuelRod
/tests/testdata/modules/js-and-css/audit-enqueued-assets                    @manuelRod

# Module: Persistent Object Cache Health Check
/modules/object-cache/persistent-object-cache-health-check                  @tillkruss @spacedmonkey
/tests/modules/object-cache/persistent-object-cache-health-check            @tillkruss @spacedmonkey
/tests/testdata/modules/object-cache/persistent-object-cache-health-check   @tillkruss @spacedmonkey

# Module: Dominant Color
/modules/images/dominant-color                                              @pbearne @spacedmonkey
/tests/modules/images/dominant-color                                        @pbearne @spacedmonkey
/tests/testdata/modules/images/dominant-color                               @pbearne @spacedmonkey

# Module: Fetchpriority
/modules/images/fetchpriority                                               @pbearne @adamsilverstein
/tests/modules/images/fetchpriority                                         @pbearne @adamsilverstein
/tests/testdata/modules/images/fetchpriority                                @pbearne @adamsilverstein

# Module: Full Page Cache Health Check
/modules/object-cache/audit-full-page-cache                                 @manuelRod @westonruter
/tests/modules/object-cache/audit-full-page-cache                           @manuelRod @westonruter
