Repository WordPress/performance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JustinyAhin, @felixarntz, @adamsilverstein, @getsource, @aristath, @sgomes, @tillkruss, @spacedmonkey, @mitogh, @kirtangajjar, @manuelRod, @pbearne, @westonruter

.github/CODEOWNERS:

# Documentation/Infrastructure
/docs                                       @JustinyAhin @felixarntz
/admin                                      @JustinyAhin @felixarntz
/tests/admin                                @JustinyAhin @felixarntz
/bin                                        @JustinyAhin @felixarntz
/.github                                    @JustinyAhin @felixarntz

# Focus: Images
/modules/images                             @adamsilverstein @getsource
/tests/modules/images                       @adamsilverstein @getsource
/tests/testdata/modules/images              @adamsilverstein @getsource

# Focus: JavaScript
/modules/javascript                         @aristath @sgomes
/tests/modules/javascript                   @aristath @sgomes
/tests/testdata/modules/javascript          @aristath @sgomes

# Focus: Site Health
/modules/site-health
/tests/modules/site-health
/tests/testdata/modules/site-health

# Focus: Measurement
/modules/measurement
/tests/modules/measurement
/tests/testdata/modules/measurement

# Focus: Object Cache
/modules/object-cache                       @tillkruss @spacedmonkey
/tests/modules/object-cache                 @tillkruss @spacedmonkey
/tests/testdata/modules/object-cache        @tillkruss @spacedmonkey

# Module: WebP Uploads
/modules/images/webp-uploads                                                @adamsilverstein @felixarntz @mitogh
/tests/modules/images/webp-uploads                                          @adamsilverstein @felixarntz @mitogh
/tests/testdata/modules/images/webp-uploads                                 @adamsilverstein @felixarntz @mitogh

# Module: WebP Support Health Check
/modules/site-health/webp-support                                           @adamsilverstein @kirtangajjar @mitogh
/tests/modules/site-health/webp-support                                     @adamsilverstein @kirtangajjar @mitogh
/tests/testdata/modules/site-health/webp-support                            @adamsilverstein @kirtangajjar @mitogh

# Module: Autoloaded Options Health Check
/modules/site-health/audit-autoloaded-options                               @manuelRod
/tests/modules/site-health/audit-autoloaded-options                         @manuelRod
/tests/testdata/modules/site-health/audit-autoloaded-options                @manuelRod

# Module: Enqueued Assets Health Check
/modules/site-health/audit-enqueued-assets                                  @manuelRod
/tests/modules/site-health/audit-enqueued-assets                            @manuelRod
/tests/testdata/modules/site-health/audit-enqueued-assets                   @manuelRod

# Module: Persistent Object Cache Health Check
/modules/object-cache/persistent-object-cache-health-check                  @tillkruss @spacedmonkey
/tests/modules/object-cache/persistent-object-cache-health-check            @tillkruss @spacedmonkey
/tests/testdata/modules/object-cache/persistent-object-cache-health-check   @tillkruss @spacedmonkey

# Module: Dominant Color
/modules/images/dominant-color                                              @pbearne @spacedmonkey
/tests/modules/images/dominant-color                                        @pbearne @spacedmonkey
/tests/testdata/modules/images/dominant-color                               @pbearne @spacedmonkey

# Module: Full Page Cache Health Check
/modules/site-health/audit-full-page-cache                                  @manuelRod @westonruter
/tests/modules/site-health/audit-full-page-cache                            @manuelRod @westonruter

Fix: variable does not exist
  modules/images/regenerate-existing-images/background-process/class-perflab-background-process.php
Owners: @adamsilverstein, @getsource

Status check cron
  modules/images/regenerate-existing-images/background-process/class-perflab-background-process.php
  modules/images/regenerate-existing-images/load.php
Owners: @adamsilverstein, @getsource

Move job utilities to helper file
  modules/images/regenerate-existing-images/helper.php
  modules/images/regenerate-existing-images/load.php
  tests/modules/images/regenerate-existing-images/helper-tests.php
  tests/modules/images/regenerate-existing-images/load-tests.php
Owners: @adamsilverstein, @getsource

Remove print_r
  tests/modules/images/regenerate-existing-images/helper-tests.php
Owners: @adamsilverstein, @getsource

Fix typo
  modules/images/regenerate-existing-images/load.php
  tests/modules/images/regenerate-existing-images/load-tests.php
Owners: @adamsilverstein, @getsource

Move dispatch function to helper
  modules/images/regenerate-existing-images/helper.php
  modules/images/regenerate-existing-images/load.php
Owners: @adamsilverstein, @getsource

Add submenu under tools
  modules/images/regenerate-existing-images/admin.php
  modules/images/regenerate-existing-images/load.php
Owners: @adamsilverstein, @getsource

Remove redundant code
  modules/images/regenerate-existing-images/admin.php
Owners: @adamsilverstein, @getsource

Update Proposing-a-new-module.md
  docs/Proposing-a-new-module.md
Owners: @JustinyAhin, @felixarntz

Update Releasing-the-plugin.md
  docs/Releasing-the-plugin.md
Owners: @JustinyAhin, @felixarntz

Update Releasing-the-plugin.md
  docs/Releasing-the-plugin.md
Owners: @JustinyAhin, @felixarntz

Add filter to toggle screen
  modules/images/regenerate-existing-images/admin.php
Owners: @adamsilverstein, @getsource

new setting added for generating webp and jpeg in Settings > Media > Uploads section
  modules/images/webp-uploads/load.php
Owners: @adamsilverstein, @felixarntz, @mitogh

new setting used when true for generating webp and jpeg
  modules/images/webp-uploads/helper.php
Owners: @adamsilverstein, @felixarntz, @mitogh

Docblock update
  modules/images/regenerate-existing-images/background-process/class-perflab-background-job.php
Owners: @adamsilverstein, @getsource

Fix: tests
  modules/images/regenerate-existing-images/background-process/class-perflab-background-job.php
  tests/modules/images/regenerate-existing-images/background-process/perflab-background-job-test.php
  tests/modules/images/regenerate-existing-images/helper-tests.php
Owners: @adamsilverstein, @getsource

Fix: tests
  modules/images/regenerate-existing-images/background-process/class-perflab-background-job.php
Owners: @adamsilverstein, @getsource

Job completed constant
  modules/images/regenerate-existing-images/background-process/class-perflab-background-job.php
  tests/modules/images/regenerate-existing-images/background-process/perflab-background-job-test.php
Owners: @adamsilverstein, @getsource

Tests for max attempt filter
  modules/images/regenerate-existing-images/background-process/class-perflab-background-job.php
  tests/modules/images/regenerate-existing-images/background-process/perflab-background-job-test.php
Owners: @adamsilverstein, @getsource

Bump version to 1.5.0.
  load.php
  modules/site-health/audit-autoloaded-options/load.php
  readme.txt
Owners: @manuelRod

Add 1.5.0 changelog to readme.
  readme.txt
Owners: none

Unit test: handle situation where wp_sitecategories table is missing.
  tests/modules/site-health/audit-database/audit-database-test.php
Owners: none
