Repository WordPress/performance, pull requests merged in 2022-07, with the labels that each got.

#404 Move check.
  modules/images/dominant-color/load.php
  tests/modules/images/dominant-color/dominant-color-image-editor-gd-test.php
  tests/modules/images/dominant-color/dominant-color-image-editor-imageick-test.php
Labels: [Type] Enhancement, [Focus] Images, Needs Review, [Module] Dominant Color

#401 Fix dominant color upload process to not override potential third-party editors
  modules/images/dominant-color/load.php
  tests/modules/images/dominant-color/dominant-color-test.php
Labels: [Type] Bug, [Focus] Images, Needs Review, [Module] Dominant Color

#416 Remove test redefining `EMPTY_TRASH_DAYS`.
  tests/modules/images/webp-uploads/load-tests.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, no milestone

#390 Implement mechanism to not load module if core version is available
  admin/load.php
  load.php
  modules/images/webp-uploads/can-load.php
  tests/load-tests.php
  tests/testdata/demo-modules/images/demo-module-3/can-load.php
  tests/testdata/demo-modules/javascript/demo-module-1/can-load.php
Labels: [Type] Enhancement, Infrastructure

#425 Remove experimental label from Dominant Color module and turn on by default for new installs
  modules/images/dominant-color/load.php
Labels: [Type] Enhancement, [Focus] Images, [Module] Dominant Color

#415 Allow control for which image sizes to generate additional MIME type versions
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/utils/Constraint/ImageHasSizeSource.php
Labels: [Type] Enhancement, [Focus] Images, [Module] WebP Uploads

#418 Discard WebP image if it is larger than corresponding JPEG image
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/images/webp-uploads/rest-api-tests.php
Labels: [Type] Enhancement, [Focus] Images, [Module] WebP Uploads

#424 Add replacing of images only in frontend context
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/load-tests.php
Labels: [Type] Enhancement, [Focus] Images, [Module] WebP Uploads

#435 fix file description for can load module for webp uploads
  modules/images/webp-uploads/can-load.php
Labels: [Type] Documentation, Infrastructure, no milestone

#433 Fix an infinite loop in the WebP fallback mechanism
  modules/images/webp-uploads/load.php
Labels: [Type] Bug, [Focus] Images, Needs Testing, [Module] WebP Uploads

#438 Prepare the 1.3.0 release
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/dominant-color/load.php
  modules/images/webp-uploads/can-load.php
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  readme.txt
  tests/testdata/demo-modules/images/demo-module-3/can-load.php
  tests/testdata/demo-modules/javascript/demo-module-1/can-load.php
Labels: [Type] Documentation, Infrastructure, no milestone

#439 Merge 1.3.0 back into `trunk`
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/dominant-color/load.php
  modules/images/webp-uploads/can-load.php
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  readme.txt
  tests/testdata/demo-modules/images/demo-module-3/can-load.php
  tests/testdata/demo-modules/javascript/demo-module-1/can-load.php
Labels: [Type] Documentation, Infrastructure, no milestone

#429 Add constant for `plugin_dir_path`
  load.php
  tests/load-tests.php
Labels: [Type] Enhancement, Infrastructure

#431 Fix typos and Coding standard
  admin/load.php
  tests/testdata/modules/images/webp-uploads/class-wp-image-edit.php
Labels: [Type] Documentation, Infrastructure, Good First Issue, no milestone

#447 Correct a typo in `webp_uploads_wepb_fallback()`
  modules/images/webp-uploads/load.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, no milestone

#454 Improve inline document in image module
  modules/images/webp-uploads/helper.php
Labels: [Type] Documentation, [Focus] Images, [Module] WebP Uploads, no milestone
