Repository WordPress/performance, pull requests merged in 2022-05, with the labels that each got.

#316 Replace the featured image with WebP version when available
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/load-tests.php
Labels: [Type] Enhancement, [Focus] Images

#317 Define module owners and add them to CODEOWNERS file
  .github/CODEOWNERS
Labels: [Type] Documentation, Infrastructure, no milestone, Needs Review

#302 add logic to select smaller image size when enabled
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/load-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone

#327 Correct typo in image edit documentation comment.
  modules/images/webp-uploads/image-edit.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, no milestone, Needs Review

#260 Update documentation to match expected types
  tests/utils/TestCase/ImagesTestCase.php
Labels: [Type] Documentation, [Focus] Images, no milestone, Needs Review

#322 Add Performance Lab generator meta tag to `wp_head` output
  load.php
  tests/load-tests.php
Labels: [Type] Feature, Infrastructure, Needs Review

#329 Correct persistent object cache label
  modules/object-cache/persistent-object-cache-health-check/load.php
Labels: [Type] Bug, [Focus] Object Cache, no milestone, Needs Review

#319 Introduce filter `webp_uploads_pre_replace_additional_image_source` to short-circuit replacing additional image sources in frontend content
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/load-tests.php
Labels: [Type] Enhancement, [Focus] Images, [Module] WebP Uploads, Needs Review

#332 Avoid unnecessarily early escape of Site Health check labels
  modules/site-health/audit-autoloaded-options/load.php
  modules/site-health/audit-enqueued-assets/load.php
  modules/site-health/webp-support/load.php
Labels: [Type] Enhancement, Infrastructure

#318 Introduce filter `webp_uploads_pre_generate_additional_image_source` to short-circuit generating additional image sources on upload
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/helper-tests.php
Labels: [Type] Enhancement, [Focus] Images, Needs Review, [Module] WebP Support

#301 Only update the specified target images when an image is edited.
  modules/images/webp-uploads/image-edit.php
  tests/modules/images/webp-uploads/image-edit-tests.php
Labels: [Type] Bug, [Focus] Images, Needs Review, [Module] WebP Support

#335 Prepare the 1.1.0 release
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  readme.txt
Labels: [Type] Enhancement, Infrastructure, no milestone

#336 Merge 1.1.0 release back into `trunk`
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/image-edit.php
  modules/images/webp-uploads/load.php
  modules/site-health/audit-autoloaded-options/load.php
  modules/site-health/audit-enqueued-assets/load.php
  modules/site-health/webp-support/load.php
  readme.txt
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#330 Create Proposing-a-new-module.md
  docs/Proposing-a-new-module.md
Labels: [Type] Documentation, Infrastructure, no milestone, Needs Review

#337 Update README.md
  docs/README.md
Labels: [Type] Documentation, Infrastructure, no milestone, Needs Review
