Repository WordPress/performance, pull requests merged in 2022-06, with the labels that each got.

#263 Add Site Health test for full page caching
  .github/CODEOWNERS
  modules/site-health/audit-full-page-cache/helper.php
  modules/site-health/audit-full-page-cache/load.php
  tests/modules/site-health/audit-full-page-cache/audit-full-page-cache-test.php
Labels: [Type] Feature, [Focus] Site Health, Needs Review, [Module] Audit Full Page Cache

#348 Add quick start section to readme #346
  README.md
Labels: [Type] Documentation, Infrastructure, no milestone

#362 Correct: Since for webp_uploads_generate_additional_image_source()
  modules/images/webp-uploads/helper.php
Labels: [Type] Bug, [Focus] Images, no milestone, Needs Review

#282 Add Dominant Color module to provide color background for loading images
  .github/CODEOWNERS
  modules/images/dominant-color/class-dominant-color-image-editor-gd.php
  modules/images/dominant-color/class-dominant-color-image-editor-imagick.php
  modules/images/dominant-color/load.php
  tests/modules/images/dominant-color/dominant-color-image-editor-gd-test.php
  tests/modules/images/dominant-color/dominant-color-image-editor-imageick-test.php
  tests/modules/images/dominant-color/dominant-color-test.php
  tests/testdata/modules/images/dominant-color/green.gif
  tests/testdata/modules/images/dominant-color/green.jpg
  tests/testdata/modules/images/dominant-color/green.png
  tests/testdata/modules/images/dominant-color/green.webp
  tests/testdata/modules/images/dominant-color/red.gif
  tests/testdata/modules/images/dominant-color/red.jpg
  tests/testdata/modules/images/dominant-color/red.png
  tests/testdata/modules/images/dominant-color/red.webp
  tests/testdata/modules/images/dominant-color/trans.gif
  tests/testdata/modules/images/dominant-color/trans.jpg
  tests/testdata/modules/images/dominant-color/trans.png
  tests/testdata/modules/images/dominant-color/trans.webp
  tests/testdata/modules/images/dominant-color/trans4.gif
  tests/testdata/modules/images/dominant-color/trans4.jpg
  tests/testdata/modules/images/dominant-color/trans4.png
  tests/testdata/modules/images/dominant-color/trans4.webp
  tests/testdata/modules/images/dominant-color/white.gif
  tests/testdata/modules/images/dominant-color/white.jpg
  tests/testdata/modules/images/dominant-color/white.png
  tests/testdata/modules/images/dominant-color/white.webp
  tests/utils/TestCase/DominantColorTestCase.php
Labels: [Type] Feature, [Focus] Images, Needs Review, [Module] Dominant Color

#376 Use `wp_filesize` instead of `filesize` if available
  load.php
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/image-edit.php
  modules/images/webp-uploads/load.php
  modules/site-health/audit-enqueued-assets/helper.php
  polyfills.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/site-health/audit-enqueued-assets/audit-enqueued-assets-helper-test.php
Labels: [Type] Enhancement, Infrastructure, Needs Review

#314 Back up edited `full` image sources when restoring the original image
  modules/images/webp-uploads/image-edit.php
  tests/modules/images/webp-uploads/image-edit-tests.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, Needs Review

#377 Add New module proposal issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new-module-proposal.md
Labels: [Type] Enhancement, Infrastructure, no milestone, Needs Review

#385 Prepare the 1.2.0 release
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/dominant-color/class-dominant-color-image-editor-gd.php
  modules/images/dominant-color/class-dominant-color-image-editor-imagick.php
  modules/images/dominant-color/load.php
  modules/site-health/audit-full-page-cache/helper.php
  modules/site-health/audit-full-page-cache/load.php
  polyfills.php
  readme.txt
  tests/modules/images/dominant-color/dominant-color-image-editor-imageick-test.php
Labels: [Type] Documentation, Infrastructure, no milestone

#389 Merge 1.2.0 release back into trunk
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/dominant-color/class-dominant-color-image-editor-gd.php
  modules/images/dominant-color/class-dominant-color-image-editor-imagick.php
  modules/images/dominant-color/load.php
  modules/site-health/audit-full-page-cache/helper.php
  modules/site-health/audit-full-page-cache/load.php
  polyfills.php
  readme.txt
  tests/modules/images/dominant-color/dominant-color-image-editor-imageick-test.php
Labels: [Type] Documentation, Infrastructure, no milestone

#393 Ensure incorrect usage of `webp_uploads_upload_image_mime_transforms` filter is treated correctly
  modules/images/webp-uploads/helper.php
  tests/modules/images/webp-uploads/helper-tests.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads

#397 Fix PHP notice and bug in logic for when `webp_uploads_prefer_smaller_image_file` filter is set to `true`
  modules/images/webp-uploads/load.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads

#381 Optimize computing dominant color and transparency for images by combining the two functions
  modules/images/dominant-color/class-dominant-color-image-editor-gd.php
  modules/images/dominant-color/class-dominant-color-image-editor-imagick.php
  modules/images/dominant-color/load.php
  tests/modules/images/dominant-color/dominant-color-image-editor-gd-test.php
  tests/modules/images/dominant-color/dominant-color-image-editor-imageick-test.php
  tests/modules/images/dominant-color/dominant-color-test.php
  tests/testdata/modules/images/dominant-color/animated.gif
  tests/testdata/modules/images/dominant-color/green.gif
  tests/testdata/modules/images/dominant-color/green.jpg
  tests/testdata/modules/images/dominant-color/green.png
  tests/testdata/modules/images/dominant-color/green.webp
  tests/testdata/modules/images/dominant-color/red.gif
  tests/testdata/modules/images/dominant-color/red.jpg
  tests/testdata/modules/images/dominant-color/red.png
  tests/testdata/modules/images/dominant-color/red.webp
  tests/testdata/modules/images/dominant-color/small-video.mp4
  tests/testdata/modules/images/dominant-color/test-image.bmp
  tests/testdata/modules/images/dominant-color/test-image.tiff
  tests/testdata/modules/images/dominant-color/trans.gif
  tests/testdata/modules/images/dominant-color/trans.jpg
  tests/testdata/modules/images/dominant-color/trans.png
  tests/testdata/modules/images/dominant-color/trans.webp
  tests/testdata/modules/images/dominant-color/trans4.gif
  tests/testdata/modules/images/dominant-color/trans4.jpg
  tests/testdata/modules/images/dominant-color/trans4.png
  tests/testdata/modules/images/dominant-color/trans4.webp
  tests/testdata/modules/images/dominant-color/video-play.svg
  tests/testdata/modules/images/dominant-color/white.gif
  tests/testdata/modules/images/dominant-color/white.jpg
  tests/testdata/modules/images/dominant-color/white.png
  tests/testdata/modules/images/dominant-color/white.webp
  tests/testdata/modules/images/dominant-color/wordpress-gsoc-flyer.pdf
  tests/utils/TestCase/DominantColorTestCase.php
Labels: [Type] Enhancement, [Focus] Images, [Module] Dominant Color

#398 Update Github-workflow.md
  docs/Github-workflow.md
Labels: [Type] Documentation, Infrastructure, no milestone
