Repository WordPress/performance, pull requests merged in 2022-02, with the labels that each got.

#138 Add release documentation
  docs/Releasing-the-plugin.md
Labels: [Type] Documentation, Infrastructure, Needs Review

#143 Ensure the `-scaled` image remains in the original uploaded format
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/webp-uploads-test.php
  tests/modules/site-health/audit-enqueued-assets/audit-enqueued-assets-helper-test.php
  tests/modules/site-health/audit-enqueued-assets/audit-enqueued-assets-test.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, Needs Review

#162 Update composer.json
  composer.json
Labels: [Type] Enhancement, Infrastructure

#178 NPM script to update `@since n.e.x.t` tags
  bin/plugin/cli.js
  bin/plugin/commands/since.js
  docs/Releasing-the-plugin.md
  package.json
Labels: [Type] Enhancement, Infrastructure, no milestone

#141 Add WebP support in site health
  modules/site-health/webp-support/load.php
Labels: [Type] Feature, [Focus] Site Health, Needs Review

#188 Add retry mechanism for constrained environments.
  modules/images/webp-uploads/load.php
Labels: [Type] Feature, [Focus] Images, [Module] WebP Uploads

#111 Add Site Health check module for persistent object cache
  modules/object-cache/persistent-object-cache-health-check/load.php
  tests/modules/object-cache/persistent-object-cache-health-check/health-check-test.php
Labels: [Type] Feature, [Focus] Object Cache, Needs Review

#152 Update `the_content` with the appropiate image format
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/webp-uploads-test.php
  tests/testdata/modules/images/balloons.webp
  tests/testdata/modules/images/car.jpeg
  tests/testdata/modules/images/dice.png
  tests/testdata/modules/images/earth.gif
Labels: [Type] Feature, [Focus] Images, [Module] WebP Uploads, Needs Review

#190 Update module descriptions (specifically `webp-uploads`) based on latest updates
  modules/images/webp-uploads/load.php
  modules/object-cache/persistent-object-cache-health-check/load.php
  modules/site-health/audit-enqueued-assets/load.php
  modules/site-health/webp-support/load.php
Labels: [Type] Documentation, [Focus] Images, [Focus] Site Health, [Focus] Object Cache, [Module] WebP Uploads, no milestone, Needs Review

#196 Include generated module-i18n.php file in repository
  .gitignore
  module-i18n.php
  modules/site-health/webp-support/load.php
Labels: [Type] Enhancement, Infrastructure, Needs Review
