Repository WordPress/performance, pull requests merged in 2022-10, with the labels that each got.

#550 Correct a typo in Getting-started.md
  docs/Getting-started.md
Labels: [Type] Bug, Infrastructure, Good First Issue, no milestone

#549 Bump minimum WordPress requirement to 6.0
  docs/Getting-started.md
  load.php
  polyfills.php
  readme.txt
Labels: [Type] Enhancement, Infrastructure

#507 Background job class
  modules/images/regenerate-existing-images/background-process/class-perflab-background-job.php
  modules/images/regenerate-existing-images/helper.php
  modules/images/regenerate-existing-images/load.php
  tests/modules/images/regenerate-existing-images/background-process/perflab-background-job-test.php
  tests/modules/images/regenerate-existing-images/helper-tests.php
Labels: [Focus] Images, no milestone, [Type] Epic, [Module] Regenerate Existing Images

#527 Updated the default mime types for jpeg images transformation to support only webp versions.
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/image-edit.php
  modules/images/webp-uploads/load.php
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/images/webp-uploads/rest-api-tests.php
  tests/utils/TestCase/ImagesTestCase.php
Labels: [Type] Enhancement, [Focus] Images, [Module] WebP Uploads

#537 Add checkbox to Settings > Media to control whether to generate JPEG in addition to WebP
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/load.php
  modules/images/webp-uploads/settings.php
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  uninstall.php
Labels: [Type] Enhancement, [Focus] Images, [Module] WebP Uploads

#558 Prepare 1.6.0 release
  load.php
  modules/images/webp-uploads/settings.php
  modules/object-cache/persistent-object-cache-health-check/can-load.php
  modules/site-health/audit-full-page-cache/can-load.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#557 Update CONTRIBUTING.md (follow up)
  CONTRIBUTING.md
Labels: [Type] Documentation, Infrastructure, no milestone

#565 Fix opt-in checkbox for generating WebP and JPEG to also show on Multisite
  modules/images/webp-uploads/settings.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads

#568 Fix fatal error in REST API response when an image has no attachment metadata.
  modules/images/webp-uploads/rest-api.php
  tests/modules/images/webp-uploads/rest-api-tests.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, Needs Review
