Repository WordPress/performance, pull requests merged in 2023-04, with the labels that each got.

#694 Refresh feature branch with `trunk`
  load.php
  modules/database/audit-autoloaded-options/helper.php
  modules/database/audit-autoloaded-options/hooks.php
  modules/database/sqlite/admin.php
  modules/images/dominant-color/helper.php
  modules/images/dominant-color/hooks.php
  modules/images/fetchpriority/hooks.php
  modules/images/webp-support/helper.php
  modules/images/webp-support/hooks.php
  modules/images/webp-uploads/hooks.php
  modules/images/webp-uploads/image-edit.php
  modules/js-and-css/audit-enqueued-assets/hooks.php
  package.json
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#696 Generator meta tag for WebP Uploads standalone plugin
  modules/images/webp-uploads/hooks.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#695 Include `WordPress-Extra` rules in PHPCS configuration and fix resulting problems
  admin/load.php
  modules/images/dominant-color/hooks.php
  modules/images/webp-uploads/hooks.php
  modules/images/webp-uploads/image-edit.php
  phpcs.xml.dist
Labels: [Type] Enhancement, Infrastructure, Needs Review

#686 GitHub workflow to build and deploy standalone plugins
  .github/workflows/deploy-standalone-plugins.yml
  deploy.sh
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#699 Implement infrastructure for launching standalone plugins from modules, including WebP Uploads
  .gitattributes
  .github/workflows/deploy-standalone-plugins.yml
  .github/workflows/php-test-standalone-plugins.yml
  .gitignore
  admin/load.php
  bin/plugin/cli.js
  bin/plugin/commands/build-plugins.js
  bin/plugin/commands/common.js
  bin/plugin/commands/test-plugins.js
  deploy.sh
  load.php
  modules/images/webp-uploads/hooks.php
  modules/images/webp-uploads/load.php
  modules/images/webp-uploads/readme.txt
  package-lock.json
  package.json
  plugin-tests/.wp-env.json
  plugin-tests/composer.json
  plugin-tests/multisite.xml
  plugin-tests/phpunit.xml
  plugin-tests/tests/bootstrap.php
  plugin-tests/tests/test-standalone.php
  plugins.json
Labels: [Type] Enhancement, Infrastructure, Creating standalone plugins

#702 Remove "experimental" flag from Fetchpriority module
  modules/images/fetchpriority/load.php
Labels: [Type] Enhancement, [Focus] Images, [Module] fetchpriority

#705 Rename `Dominant Color` module to `Dominant Color images`
  .github/CODEOWNERS
  modules/images/dominant-color/helper.php
  modules/images/dominant-color/hooks.php
  modules/images/dominant-color/load.php
Labels: [Type] Documentation, [Focus] Images, [Module] Dominant Color, Creating standalone plugins

#708 Change module slug/directory from `dominant-color` to `dominant-color-images`
  .github/CODEOWNERS
  default-enabled-modules.php
  load.php
  modules/images/dominant-color-images/class-dominant-color-image-editor-gd.php
  modules/images/dominant-color-images/class-dominant-color-image-editor-imagick.php
  modules/images/dominant-color-images/helper.php
  modules/images/dominant-color-images/hooks.php
  modules/images/dominant-color-images/load.php
  tests/load-tests.php
  tests/modules/images/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/modules/images/dominant-color-images/dominant-color-image-editor-imageick-test.php
  tests/modules/images/dominant-color-images/dominant-color-test.php
  tests/testdata/modules/images/dominant-color-images/animated.gif
  tests/testdata/modules/images/dominant-color-images/green.gif
  tests/testdata/modules/images/dominant-color-images/green.jpg
  tests/testdata/modules/images/dominant-color-images/green.png
  tests/testdata/modules/images/dominant-color-images/green.webp
  tests/testdata/modules/images/dominant-color-images/red.gif
  tests/testdata/modules/images/dominant-color-images/red.jpg
  tests/testdata/modules/images/dominant-color-images/red.png
  tests/testdata/modules/images/dominant-color-images/red.webp
  tests/testdata/modules/images/dominant-color-images/small-video.mp4
  tests/testdata/modules/images/dominant-color-images/test-image.bmp
  tests/testdata/modules/images/dominant-color-images/test-image.tiff
  tests/testdata/modules/images/dominant-color-images/trans.gif
  tests/testdata/modules/images/dominant-color-images/trans.png
  tests/testdata/modules/images/dominant-color-images/trans.webp
  tests/testdata/modules/images/dominant-color-images/video-play.svg
  tests/testdata/modules/images/dominant-color-images/white.gif
  tests/testdata/modules/images/dominant-color-images/white.jpg
  tests/testdata/modules/images/dominant-color-images/white.png
  tests/testdata/modules/images/dominant-color-images/white.webp
  tests/testdata/modules/images/dominant-color-images/wordpress-gsoc-flyer.pdf
  tests/utils/TestCase/DominantColorTestCase.php
Labels: [Type] Documentation, [Focus] Images, [Module] Dominant Color

#711 Remove `deploy.sh` file
  deploy.sh
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#712 Publish/2.2.0
  default-enabled-modules.php
  load.php
  module-i18n.php
  modules/images/webp-uploads/hooks.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#713 Merge 2.2.0 release back into `trunk`
  default-enabled-modules.php
  deploy.sh
  load.php
  module-i18n.php
  modules/images/webp-uploads/hooks.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#704 Configure `Dominant Color` and `Fetchpriority` modules for their standalone plugins
  load.php
  modules/images/dominant-color-images/hooks.php
  modules/images/dominant-color-images/load.php
  modules/images/dominant-color-images/readme.txt
  modules/images/fetchpriority/hooks.php
  modules/images/fetchpriority/load.php
  modules/images/fetchpriority/readme.txt
  plugins.json
Labels: [Type] Enhancement, Infrastructure, [Focus] Images, Creating standalone plugins

#716 Add dominant color styling before any existing inline style attributes
  modules/images/dominant-color-images/hooks.php
  tests/modules/images/dominant-color-images/dominant-color-test.php
Labels: [Type] Bug, [Focus] Images, Needs Review, [Module] Dominant Color
