Repository WordPress/performance, pull requests merged in 2023-03, with the labels that each got.

#662 CLI command for a build process to transform modules into standalone plugins
  bin/plugin/cli.js
  bin/plugin/commands/build-plugins.js
  bin/plugin/commands/common.js
  modules/images/webp-uploads/load.php
  package-lock.json
  package.json
  plugins.json
Labels: [Type] Enhancement, Infrastructure, no milestone, Needs Review, Creating standalone plugins

#669 Add `wp-total` metric to default Server-Timing metrics
  server-timing/defaults.php
Labels: [Type] Enhancement, Infrastructure

#674 Ensure module `load.php` files really only load other code to prevent conflicts in standalone plugins
  modules/database/audit-autoloaded-options/helper.php
  modules/database/audit-autoloaded-options/hooks.php
  modules/database/audit-autoloaded-options/load.php
  modules/database/sqlite/admin.php
  modules/database/sqlite/load.php
  modules/images/dominant-color/helper.php
  modules/images/dominant-color/hooks.php
  modules/images/dominant-color/load.php
  modules/images/fetchpriority/hooks.php
  modules/images/fetchpriority/load.php
  modules/images/webp-support/helper.php
  modules/images/webp-support/hooks.php
  modules/images/webp-support/load.php
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/hooks.php
  modules/images/webp-uploads/load.php
  modules/js-and-css/audit-enqueued-assets/helper.php
  modules/js-and-css/audit-enqueued-assets/hooks.php
  modules/js-and-css/audit-enqueued-assets/load.php
Labels: [Type] Enhancement, Infrastructure, Creating standalone plugins

#672 Fix problems with placing `object-cache.php` drop-in
  load.php
  server-timing/object-cache.copy.php
  tests/load-tests.php
Labels: [Type] Bug, Infrastructure

#679 Add pointer for where to report security bugs to `readme.txt`
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#680 Update WebP Uploads readme similarly to #679.
  modules/images/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, [Focus] Images, [Module] WebP Uploads, no milestone, Creating standalone plugins

#681 Update the module constant
  bin/plugin/commands/build-plugins.js
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#682 Fix JS lint errors by formatting with Prettier
  bin/plugin/cli.js
  bin/plugin/commands/build-plugins.js
  bin/plugin/commands/common.js
Labels: [Type] Bug, Infrastructure, no milestone, Creating standalone plugins

#684 Prepare 2.1.0 release
  load.php
  modules/database/audit-autoloaded-options/helper.php
  modules/database/audit-autoloaded-options/hooks.php
  modules/database/sqlite/admin.php
  modules/images/dominant-color/helper.php
  modules/images/dominant-color/hooks.php
  modules/images/fetchpriority/hooks.php
  modules/images/webp-support/helper.php
  modules/images/webp-support/hooks.php
  modules/images/webp-uploads/hooks.php
  modules/js-and-css/audit-enqueued-assets/hooks.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#685 Update `trunk` with latest 2.1.0 release
  load.php
  modules/database/audit-autoloaded-options/helper.php
  modules/database/audit-autoloaded-options/hooks.php
  modules/database/sqlite/admin.php
  modules/images/dominant-color/helper.php
  modules/images/dominant-color/hooks.php
  modules/images/fetchpriority/hooks.php
  modules/images/webp-support/helper.php
  modules/images/webp-support/hooks.php
  modules/images/webp-uploads/hooks.php
  modules/js-and-css/audit-enqueued-assets/hooks.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#670 Check for each module to only load it if the corresponding standalone plugin is not loaded
  admin/load.php
  bin/plugin/commands/build-plugins.js
  load.php
  modules/images/webp-uploads/load.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#690 Sanitize target param before using it
  modules/images/webp-uploads/image-edit.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads

#671 Add / #639 Standalone Built Plugin Tests
  .gitattributes
  .github/workflows/php-test-standalone-plugins.yml
  .gitignore
  bin/plugin/cli.js
  bin/plugin/commands/test-plugins.js
  package.json
  plugin-tests/.wp-env.json
  plugin-tests/composer.json
  plugin-tests/multisite.xml
  plugin-tests/phpunit.xml
  plugin-tests/tests/bootstrap.php
  plugin-tests/tests/test-standalone.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Needs Review, Creating standalone plugins
