Repository WordPress/performance, pull requests merged in 2023-02, with the labels that each got.

#634 Use correct number of arguments in filter callback
  modules/images/webp-uploads/image-edit.php
Labels: [Type] Bug, [Focus] Images

#647 Fixes plugin_action_links_ filter
  admin/load.php
Labels: [Type] Bug, Infrastructure

#645 Fix invalid docs and return types as highlighted by static analysis
  load.php
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-db.php
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-pdo-engine.php
  modules/database/sqlite/wp-includes/sqlite/class-perflab-sqlite-pdo-user-defined-functions.php
Labels: [Type] Bug, Infrastructure, [Focus] Database, [Module] SQLite

#641 Update WordPress version to 6.1 and remove Cache modules
  .github/CODEOWNERS
  default-enabled-modules.php
  load.php
  modules/object-cache/audit-full-page-cache/can-load.php
  modules/object-cache/audit-full-page-cache/helper.php
  modules/object-cache/audit-full-page-cache/load.php
  modules/object-cache/persistent-object-cache-health-check/can-load.php
  modules/object-cache/persistent-object-cache-health-check/load.php
  readme.txt
  tests/load-tests.php
  tests/modules/object-cache/audit-full-page-cache/audit-full-page-cache-test.php
  tests/modules/object-cache/persistent-object-cache-health-check/health-check-test.php
Labels: [Type] Enhancement, Infrastructure, [Focus] Object Cache, [Module] Persistent Object Cache, [Module] Audit Full Page Cache

#648 Check for existing `$metadata['sizes']` to fix PHP warning
  modules/images/webp-uploads/load.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, Needs Review

#620 Update json5 to their latest versions to fix vulnerability
  package-lock.json
Labels: [Type] Enhancement, Infrastructure, no milestone, Needs Review

#649 Add file header to object-cache drop-in to clarify purpose
  server-timing/object-cache.copy.php
Labels: [Type] Documentation, Infrastructure, Needs Review

#604 Add an indicator in the adminbar to show when using SQLite
  modules/database/sqlite/load.php
Labels: [Type] Enhancement, [Focus] Database, [Module] SQLite

#659 Prepare 2.0.0
  load.php
  module-i18n.php
  modules/database/sqlite/load.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#660 Merge 2.0.0 release back into trunk
  load.php
  module-i18n.php
  modules/database/sqlite/load.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone
