Repository WordPress/performance, pull requests merged in 2023-12, with the labels that each got.

#891 Allow module `can-load.php` callbacks to return a `WP_Error` with more information
  admin/load.php
  load.php
  modules/database/audit-autoloaded-options/can-load.php
  modules/images/webp-support/can-load.php
  modules/js-and-css/audit-enqueued-assets/can-load.php
  tests/admin/load-tests.php
  tests/load-tests.php
  tests/testdata/demo-modules/check-error/demo-module-4/can-load.php
  tests/testdata/demo-modules/check-error/demo-module-4/load.php
Labels: [Type] Enhancement, Infrastructure

#896 Fix Plugin card UI and thickbox issue
  admin/load.php
  admin/plugins.php
Labels: [Type] Enhancement, no milestone, Creating standalone plugins, [Focus] Standalone Plugins

#884 Optimize the loading of images using stored URL metrics
  modules/images/image-loading-optimization/class-ilo-html-tag-processor.php
  modules/images/image-loading-optimization/detection/detect.js
  modules/images/image-loading-optimization/hooks.php
  modules/images/image-loading-optimization/load.php
  modules/images/image-loading-optimization/optimization.php
  modules/images/image-loading-optimization/storage/data.php
  modules/images/image-loading-optimization/storage/rest-api.php
  server-timing/class-perflab-server-timing.php
  tests/modules/images/image-loading-optimization/load-tests.php
Labels: [Type] Feature, [Focus] Images, no milestone, [Module] Image Loading Optimization

#733 Implement new module to use Speculation Rules API for prerendering documents on hover
  .github/CODEOWNERS
  modules/js-and-css/speculation-rules/class-plsr-url-pattern-prefixer.php
  modules/js-and-css/speculation-rules/helper.php
  modules/js-and-css/speculation-rules/hooks.php
  modules/js-and-css/speculation-rules/load.php
  tests/modules/js-and-css/speculation-rules/plsr-url-pattern-prefixer-test.php
  tests/modules/js-and-css/speculation-rules/speculation-rules-helper-test.php
  tests/modules/js-and-css/speculation-rules/speculation-rules-test.php
Labels: [Focus] JS & CSS, no milestone, [Type] Module Proposal

#899 Implement migration logic and UI from Performance Lab modules to their standalone plugins
  admin/load.php
  admin/perflab-module-migration-notice.js
  admin/plugins.php
Labels: [Type] Enhancement, Creating standalone plugins, [Focus] Standalone Plugins

#900 Enhance experience when installing and activating a standalone plugin
  admin/load.php
  admin/plugins.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#912 Follow-up: Minor changes for creating standalone plugins
  admin/load.php
  admin/perflab-module-migration-notice.js
Labels: [Type] Enhancement, no milestone, Creating standalone plugins, [Focus] Standalone Plugins

#910 Implement admin pointer to indicate to the user they need to activate the new standalone plugins
  admin/load.php
Labels: [Type] Enhancement, no milestone, Creating standalone plugins, [Focus] Standalone Plugins

#913 Update initial auto-sizes module
  .github/CODEOWNERS
  modules/images/auto-sizes/load.php
  tests/modules/images/auto-sizes/auto-sizes-test.php
Labels: [Focus] Images, no milestone, [Type] Task

#915 Implement "un-dismiss" migration pointer functionality when the user activates a module
  load.php
Labels: [Type] Enhancement, no milestone, Creating standalone plugins, [Focus] Standalone Plugins

#892 Rely on server-side breadcrumbs for detection and optimization
  modules/images/image-loading-optimization/class-ilo-html-tag-processor.php
  modules/images/image-loading-optimization/detection.php
  modules/images/image-loading-optimization/detection/detect.js
  modules/images/image-loading-optimization/optimization.php
  modules/images/image-loading-optimization/storage/data.php
  modules/images/image-loading-optimization/storage/rest-api.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Module] Image Loading Optimization
