Repository WordPress/performance, pull requests merged in 2023-11, with the labels that each got.

#875 Add Image Loading Optimization module
  .github/CODEOWNERS
  admin/server-timing.php
  modules/images/image-loading-optimization/helper.php
  modules/images/image-loading-optimization/hooks.php
  modules/images/image-loading-optimization/load.php
  server-timing/class-perflab-server-timing.php
  tests/admin/server-timing-tests.php
  tests/modules/images/image-loading-optimization/load-tests.php
Labels: [Type] Feature, [Focus] Images

#876 Add initial detection logic for Image Loading Optimization
  .eslintrc.js
  modules/images/image-loading-optimization/detect.js
  modules/images/image-loading-optimization/hooks.php
  package-lock.json
  package.json
Labels: [Type] Feature, [Focus] Images

#881 Fix test failures due to WP 6.4 change
  tests/modules/js-and-css/audit-enqueued-assets/audit-enqueued-assets-test.php
Labels: [Type] Bug, [Focus] JS & CSS, no milestone

#883 Refresh feature branch with `trunk` (due to unit test failures fixed)
  tests/modules/js-and-css/audit-enqueued-assets/audit-enqueued-assets-test.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#882 Refresh feature branch with `trunk` (due to unit test failures fixed)
  admin/load.php
  modules/database/audit-autoloaded-options/helper.php
  modules/images/dominant-color-images/.gitattributes
  modules/images/dominant-color-images/readme.txt
  modules/images/webp-uploads/.gitattributes
  modules/images/webp-uploads/helper.php
  modules/images/webp-uploads/readme.txt
  modules/js-and-css/audit-enqueued-assets/hooks.php
  plugins.json
  tests/modules/js-and-css/audit-enqueued-assets/audit-enqueued-assets-test.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#878 Add storage for URL metrics to optimize image loading
  admin/server-timing.php
  composer.json
  composer.lock
  modules/images/image-loading-optimization/detection.php
  modules/images/image-loading-optimization/detection/detect.js
  modules/images/image-loading-optimization/helper.php
  modules/images/image-loading-optimization/hooks.php
  modules/images/image-loading-optimization/load.php
  modules/images/image-loading-optimization/storage/data.php
  modules/images/image-loading-optimization/storage/lock.php
  modules/images/image-loading-optimization/storage/post-type.php
  modules/images/image-loading-optimization/storage/rest-api.php
  server-timing/class-perflab-server-timing.php
  tests/admin/server-timing-tests.php
  tests/modules/images/image-loading-optimization/load-tests.php
Labels: [Type] Feature, [Focus] Images, no milestone

#864 Issue / 651 PL Settings Screen Manage Standalone Plugins
  admin/load.php
  admin/plugins.php
  load.php
  tests/bootstrap.php
Labels: [Type] Enhancement, no milestone, Creating standalone plugins, [Focus] Standalone Plugins

#890 Add support for plugin live preview in the plugin directory
  .wordpress-org/blueprints/blueprint.json
Labels: [Type] Enhancement, Infrastructure, Miscellaneous
