Repository WordPress/performance, pull requests merged in 2024-10, with the labels that each got.

#1573 Performance Lab: Query only required standalone plugins to get information
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1574 Fix storage of URL Metric when plain non-pretty permalinks are enabled
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/tests/test-cases/nested-figure-embed.php
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1569 Web Worker Offloading: Address feedback from Plugin Review team
  plugins/web-worker-offloading/helper.php
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/readme.txt
  plugins/web-worker-offloading/tests/test-web-worker-offloading.php
  plugins/web-worker-offloading/third-party.php
  plugins/web-worker-offloading/third-party/woocommerce.php
Labels: [Type] Enhancement, no milestone, [Plugin] Web Worker Offloading

#1577 Add Web Worker Offloading to list of Performance features
  plugins/performance-lab/load.php
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
Labels: [Type] Enhancement, [Plugin] Performance Lab, [Plugin] Web Worker Offloading

#1498 Prioritize loading poster image of video LCP elements
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-all-breakpoints.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-desktop-only.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-mobile-and-desktop-but-not-tablet.php
  plugins/image-prioritizer/tests/test-cases/video-without-poster-lcp-element-on-desktop-only.php
Labels: [Type] Enhancement, [Plugin] Image Prioritizer

#1589 Add TypeScript checking
  .github/workflows/js-lint.yml
  lint-staged.config.js
  package-lock.json
  package.json
  plugins/embed-optimizer/detect.js
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/types.ts
  tsconfig.json
Labels: [Type] Enhancement, no milestone

#1598 Add Web Worker Offloading meta generator
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/tests/test-web-worker-offloading.php
Labels: [Type] Enhancement, [Plugin] Web Worker Offloading

#1595 Choose smaller poster image size based on actual dimensions
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-collected.php
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-missing.php
  plugins/image-prioritizer/tests/test-helper.php
Labels: [Type] Enhancement, [Plugin] Image Prioritizer

#1602 Add group collection helper methods to get the first/last groups
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1601 Moves embed-optimizer-lazy-load script to js file
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/lazy-load.js
Labels: [Type] Enhancement, [Plugin] Embed Optimizer

#1596 Lazy load videos and video posters
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/lazy-load.js
  plugins/image-prioritizer/tests/test-cases/multiple-videos-on-all-breakpoints.php
  plugins/image-prioritizer/tests/test-cases/multiple-videos-with-desktop-metrics-missing.php
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-collected.php
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-missing.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-all-breakpoints.php
  plugins/image-prioritizer/tests/test-cases/video-without-poster-lcp-element-on-desktop-only.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
Labels: [Type] Enhancement, [Plugin] Image Prioritizer

#1482 Add fetchpriority=low to occluded initial-viewport images
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/images-located-above-or-along-initial-viewport.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1585 Introduce OD_Element class
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-element.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1607 Add ReturnTypeWillChange attribute for offsetGet to suppress notice
  plugins/optimization-detective/class-od-element.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#1610 Doc: Add `Web Worker Offloading` in readme files
  README.md
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone, skip changelog

#1609 Prepare 3.5.0 release
  README.md
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/readme.txt
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/readme.txt
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1611 Post 3.5.0 release merge
  README.md
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/readme.txt
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/readme.txt
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1613 Account for plugin dependencies when storing relevant plugin info
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Bug

#1614 Post 3.5.1 release merge
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1612 Introduce AVIF header health check
  .github/CODEOWNERS
  plugins/performance-lab/includes/site-health/avif-headers/helper.php
  plugins/performance-lab/includes/site-health/avif-headers/hooks.php
  plugins/performance-lab/includes/site-health/avif-headers/images/lossy.avif
  plugins/performance-lab/includes/site-health/load.php
Labels: [Type] Enhancement, [Plugin] Performance Lab
