Repository WordPress/performance, pull requests merged in 2024-11, with the labels that each got.

#1627 Fix phpstan errors
  plugins/embed-optimizer/hooks.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
Labels: [Type] Bug

#1635 Modern Image Formats: Fix unit tests that failing on WP trunk
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Bug, [Plugin] Modern Image Formats, skip changelog

#1636 Update readmes for Image Prioritizer, Embed Optimizer, and Optimization Detective
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/detect.js
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-data-validation-exception.php
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
Labels: [Type] Enhancement, no milestone, [Plugin] Embed Optimizer, [Plugin] Image Prioritizer

#1639 Replace remaining instances of "URL metric" with "URL Metric"
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/data.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, skip changelog

#1642 Follow-up: Introduce `webp_uploads_get_file_mime_type` helper function
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/picture-element.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1638 Improve docs in speculative loading plugin readme
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
Labels: [Type] Documentation, no milestone, [Plugin] Speculative Loading, skip changelog

#1644 Install and activate Optimization Detective when the Embed Optimizer feature is activated from the Performance screen
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1650 Update plugin descriptions for Embed Optimizer and Image Prioritizer
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
Labels: [Type] Enhancement, no milestone, [Plugin] Embed Optimizer, skip changelog, [Plugin] Image Prioritizer

#1637 Revise the use of nonces in requests to store a URL Metric and block cross-origin requests
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1640 Eliminate the detection time window
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/tests/test-detection.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1586 Add @cover annotation in test-load file and add support for codecov
  .github/workflows/php-test-plugins.yml
  codecov.yml
  composer.json
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#1652 Disable codecov since currently broken
  .github/workflows/php-test-plugins.yml
Labels: [Type] Bug, Infrastructure, no milestone

#1643 Add unminified source JS files to builds
  .gitignore
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/readme.txt
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/readme.txt
  webpack.config.js
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, [Plugin] Image Prioritizer, [Plugin] Web Worker Offloading

#1641 Send post ID of queried object or first post in loop in URL Metric storage request to schedule page cache validation
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-detection.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1646 Use AJAX for activating features / plugins in Performance Lab
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/admin/plugin-activate-ajax.js
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/includes/admin/rest-api.php
  plugins/performance-lab/load.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1659 Fix logic inversion in od_can_optimize_response()
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#1662 Rename `webp_uploads_get_file_mime_type` to `webp_uploads_get_attachment_file_mime_type` to clarify scope
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/picture-element.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1663 Merge latest changes to feature branch
  .github/CODEOWNERS
  .github/workflows/php-test-plugins.yml
  .gitignore
  codecov.yml
  composer.json
  composer.lock
  package-lock.json
  package.json
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/detect.js
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-data-validation-exception.php
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/admin/plugin-activate-ajax.js
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/includes/admin/rest-api.php
  plugins/performance-lab/includes/site-health/avif-headers/helper.php
  plugins/performance-lab/includes/site-health/avif-headers/hooks.php
  plugins/performance-lab/includes/site-health/avif-headers/images/lossy.avif
  plugins/performance-lab/includes/site-health/load.php
  plugins/performance-lab/load.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/readme.txt
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-load.php
  webpack.config.js
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1657 Prepare 3.6.0 release
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/performance-lab/includes/admin/rest-api.php
  plugins/performance-lab/includes/site-health/avif-headers/helper.php
  plugins/performance-lab/includes/site-health/avif-headers/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1664 Remove problematic n.e.x.t readme changelog entries
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/readme.txt
  plugins/web-worker-offloading/readme.txt
Labels: [Type] Bug, skip changelog

#1665 Merge 3.6.0 release back into `trunk`
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/test-optimization.php
  plugins/performance-lab/includes/admin/rest-api.php
  plugins/performance-lab/includes/site-health/avif-headers/helper.php
  plugins/performance-lab/includes/site-health/avif-headers/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/web-worker-offloading/readme.txt
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, no milestone

#1675 Activating multiple features / plugins sequentially fails to activate some features / plugins
  plugins/performance-lab/includes/admin/plugin-activate-ajax.js
Labels: [Type] Bug, [Plugin] Performance Lab

#1678 Prepare 3.6.1 release
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, [Plugin] Performance Lab, skip changelog

#1684 Merge 3.6.1 release changes back into `trunk`
  plugins/performance-lab/includes/admin/plugin-activate-ajax.js
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, no milestone, [Plugin] Performance Lab

#1688 Add missing global documentation for `od_get_cache_purge_post_id()`
  plugins/optimization-detective/detection.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1679 Automatically opt into 1536x1536 and 2048x2048 sizes when generating fallback images
  plugins/webp-uploads/hooks.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1625 Accurate sizes: Calculate image sizes during block rendering
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-improve-sizes.php
Labels: [Type] Enhancement, no milestone, [Plugin] Enhanced Responsive Images

#1693 Fix latest plugin version not being downloaded consistently
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1658 Minify script used for ajax activation of features; warn if absent and serve original file when SCRIPT_DEBUG is enabled
  plugins/embed-optimizer/hooks.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/helper.php
  plugins/performance-lab/includes/admin/load.php
  tools/phpstan/constants.php
  webpack.config.js
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1699 Auto sizes: Reorganize file structure by feature
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/includes/auto-sizes.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1704 POC - Pass group block alignment context to image block
  .github/workflows/php-test-plugins.yml
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats, no milestone

#1708 Lazy load background images added via inline style attributes
  .gitignore
  package-lock.json
  package.json
  plugins/embed-optimizer/load.php
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/lazy-load-bg-image.css
  plugins/image-prioritizer/lazy-load-bg-image.js
  plugins/image-prioritizer/lazy-load-video.js
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-on-all-breakpoints-but-not-desktop-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-with-desktop-metrics-missing.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-background-image-and-lazy-loaded-background-image-outside-viewport-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-background-image-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/images-located-above-or-along-initial-viewport.php
  plugins/image-prioritizer/tests/test-cases/no-lcp-image-or-background-image-outside-viewport-with-populated-url-metrics.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-non-background-image-style.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics.php
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated.php
  plugins/image-prioritizer/tests/test-helper.php
  tools/webpack/utils.js
  webpack.config.js
Labels: [Type] Enhancement, [Plugin] Image Prioritizer
