Repository WordPress/performance, pull requests merged in 2024-08, with the labels that each got.

#1429 Add prettier config
  .prettierrc
  package-lock.json
  package.json
Labels: [Type] Enhancement

#1432 Fix outdated `CODEOWNERS` after changing repo directory structure
  .github/CODEOWNERS
Labels: [Type] Bug, no milestone, skip changelog

#1247 Add web worker offloading plugin
  .eslintrc.js
  .gitignore
  .wp-env.json
  composer.json
  package-lock.json
  package.json
  phpunit.xml.dist
  plugins.json
  plugins/web-worker-offloading/.wordpress-org/banner-1544x500.png
  plugins/web-worker-offloading/.wordpress-org/banner-772x250.png
  plugins/web-worker-offloading/.wordpress-org/icon-128x128.png
  plugins/web-worker-offloading/.wordpress-org/icon-256x256.png
  plugins/web-worker-offloading/.wordpress-org/icon.svg
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/phpcs.xml.dist
  plugins/web-worker-offloading/readme.txt
  plugins/web-worker-offloading/tests/test-web-worker-offloading.php
  webpack.config.js
Labels: no milestone, [Plugin] Performance Lab, [Type] Plugin Proposal

#1438 Web Worker Offloading: Update `build` command
  plugins/web-worker-offloading/load.php
Labels: [Type] Documentation, no milestone, [Plugin] Performance Lab

#1431 Update readme for Performance Lab to list out feature plugins
  README.md
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, [Plugin] Performance Lab

#1443 Avoid sending Server-Timing header when buffer is being cleaned
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1442 Ensure only HTML documents are processed by Optimization Detective
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-cases/json-response-without-proper-content-type.php
  plugins/optimization-detective/tests/test-cases/json-response.php
  plugins/optimization-detective/tests/test-cases/rss-response-without-proper-content-type.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1317 Ensure the entire template is passed to the output buffer callback for Optimization Detective to process
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-cases/json-response-without-proper-content-type.php
  plugins/optimization-detective/tests/test-cases/json-response.php
  plugins/optimization-detective/tests/test-cases/rss-response-without-proper-content-type.php
  plugins/optimization-detective/tests/test-optimization.php
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1408 Picture element: Correct the fallback image
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/data/class-testcase.php
  plugins/webp-uploads/tests/test-load.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1451 Use 0.1.0 for initial version instead of n.e.x.t for Web Worker Offloading
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
Labels: [Type] Bug, [Plugin] Web Worker Offloading

#1453 Web Worker Offloading: Minor `readme.txt` and plugin header updates
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
Labels: [Type] Enhancement, [Plugin] Web Worker Offloading

#1454 Optimization Detective: Update build command
  plugins/optimization-detective/load.php
Labels: [Type] Documentation, [Plugin] Optimization Detective

#1445 Harden logic to add `auto` keyword to `sizes` attribute to prevent duplicate keyword
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-auto-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1437 Add missing full size image in PICTURE > SOURCE srcset
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1458 Remove `web-worker-offloading` from plugins.json for now since it is not yet ready for release
  plugins.json
Labels: [Type] Enhancement, Infrastructure, skip changelog

#1450 Don't wrap picture element if jpeg fallback not available
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/settings.php
  plugins/webp-uploads/tests/test-picture-element-original-fallback.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1472 Disable Optimization Detective by default on the embed template
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
Labels: [Type] Bug

#1474 Improve Performance screen when external requests to WordPress.org fail
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1471 Enhanced Responsive Images: Use more robust HTML Tag Processor for auto sizes injection
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-auto-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1470 Modern Image Formats: Checkbox `disable` is not working for Settings->Media controls
  plugins/webp-uploads/settings.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1481 Update watch command to only run tests after modifying a PHP file or a file in tests directory
  bin/test-php-watch.sh
Labels: [Type] Enhancement, Infrastructure, no milestone

#1449 Account for responsive images being disabled when generating a PICTURE element
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1480 Prepare 3.4.0 release
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, skip changelog

#1483 Post 3.4.0 release merge
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1491 Fix Incorrect use of _n()
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1489 Include UUID with each URL metric
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1478 Introduce get_cursor_move_count() to use instead of get_seek_count() and get_next_token_count()
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1479 Clarify docs around a tag visitor's boolean return value
  plugins/auto-sizes/optimization-detective.php
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/optimization-detective/optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, [Plugin] Enhanced Responsive Images, [Plugin] Image Prioritizer

#1495 Support replacement of n.e.x.t in `_doing_it_wrong()` version strings
  bin/plugin/commands/since.js
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1494 Introduce viewport aspect ratio validation for URL Metrics
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1477 Use more robust HTML Tag Processor for Image Placeholders
  plugins/dominant-color-images/hooks.php
  plugins/dominant-color-images/tests/test-dominant-color.php
Labels: [Type] Enhancement, [Plugin] Image Placeholders
