Repository WordPress/performance, pull requests merged in 2024-02, with the labels that each got.

#962 Run build-cs composer install/update via post-install/update-cmd scripts
  .github/workflows/php-test.yml
  composer.json
  package.json
Labels: [Type] Bug, Infrastructure, no milestone

#964 Introduce Props Bot workflow.
  .github/workflows/props-bot.yml
Labels: [Type] Enhancement, Infrastructure, no milestone

#965 Replace leafs with leaves to appease Spell Check with Typos workflow
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/images/webp-uploads/rest-api-tests.php
  tests/testdata/modules/images/leaves.jpg
Labels: [Type] Bug, Infrastructure, no milestone

#963 Fix tag processor for compatibility with WP 6.5
  modules/images/image-loading-optimization/class-ilo-html-tag-processor.php
  tests/modules/images/image-loading-optimization/class-ilo-html-tag-processor-tests.php
Labels: [Type] Bug, [Focus] Images, no milestone, [Module] Image Loading Optimization

#966 Improve conditions Props Bot runs under.
  .github/workflows/props-bot.yml
Labels: [Type] Enhancement, Infrastructure, no milestone

#967 Update test to use non-AVIF format since now supported in 6.5-alpha
  tests/modules/images/webp-uploads/helper-tests.php
Labels: [Type] Bug, [Focus] Images, [Module] WebP Uploads, no milestone

#960 Merge trunk into feature/image-loading-optimization
  .github/workflows/php-test-standalone-plugins.yml
  .github/workflows/php-test.yml
  .github/workflows/props-bot.yml
  .gitignore
  .wp-env.json
  admin/load.php
  admin/plugins.php
  bin/plugin/commands/test-plugins.js
  build-cs/composer.json
  composer.json
  composer.lock
  load.php
  modules/database/audit-autoloaded-options/can-load.php
  modules/images/webp-support/can-load.php
  modules/js-and-css/audit-enqueued-assets/can-load.php
  package-lock.json
  package.json
  phpstan.neon.dist
  plugin-tests/.wp-env.json
  plugin-tests/multisite.xml
  plugin-tests/phpunit.xml
  readme.txt
  server-timing/class-perflab-server-timing.php
  tests/load-tests.php
  tests/modules/images/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/modules/images/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/modules/images/dominant-color-images/dominant-color-test.php
  tests/modules/images/image-loading-optimization/optimization-tests.php
  tests/modules/images/image-loading-optimization/storage/data-tests.php
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/images/webp-uploads/rest-api-tests.php
  tests/multisite.xml
  tests/server-timing/perflab-server-timing-tests.php
  tests/testdata/modules/images/dominant-color-images/video-play.svg
  tests/testdata/modules/images/leaves.jpg
  tests/utils/TestCase/DominantColorTestCase.php
Labels: [Focus] Images, no milestone, [Type] Task, [Module] Image Loading Optimization

#968 Merge trunk into feature/modules-to-plugins
  .github/workflows/php-test.yml
  .github/workflows/props-bot.yml
  composer.json
  package.json
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/images/webp-uploads/rest-api-tests.php
  tests/testdata/modules/images/leaves.jpg
Labels: [Type] Enhancement, Infrastructure, no milestone

#956 Add test suite for Plugins folder
  .github/workflows/php-test-plugins.yml
  composer.json
  phpunit.xml.dist
  tests/plugins/test-plugin/test-plugin.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#970 Merge trunk into auto-sizes
  .eslintrc.js
  .github/workflows/php-test-standalone-plugins.yml
  .github/workflows/php-test.yml
  .github/workflows/props-bot.yml
  .gitignore
  .wp-env.json
  admin/js/perflab-module-migration-notice.js
  admin/js/perflab-plugin-management.js
  admin/load.php
  admin/plugins.php
  bin/plugin/commands/test-plugins.js
  build-cs/composer.json
  composer.json
  composer.lock
  load.php
  modules/database/audit-autoloaded-options/can-load.php
  modules/images/webp-support/can-load.php
  modules/images/webp-uploads/fallback.js
  modules/js-and-css/audit-enqueued-assets/can-load.php
  package-lock.json
  package.json
  phpstan.neon.dist
  plugin-tests/.wp-env.json
  plugin-tests/multisite.xml
  plugin-tests/phpunit.xml
  readme.txt
  server-timing/class-perflab-server-timing.php
  tests/admin/load-tests.php
  tests/load-tests.php
  tests/modules/images/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/modules/images/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/modules/images/dominant-color-images/dominant-color-test.php
  tests/modules/images/webp-uploads/helper-tests.php
  tests/modules/images/webp-uploads/image-edit-tests.php
  tests/modules/images/webp-uploads/load-tests.php
  tests/modules/images/webp-uploads/rest-api-tests.php
  tests/modules/js-and-css/audit-enqueued-assets/audit-enqueued-assets-test.php
  tests/multisite.xml
  tests/server-timing/perflab-server-timing-tests.php
  tests/testdata/modules/images/dominant-color-images/video-play.svg
  tests/testdata/modules/images/leaves.jpg
  tests/utils/TestCase/DominantColorTestCase.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#971 Fix unit test for `feature/auto-sizes` branch
  tests/modules/images/auto-sizes/auto-sizes-test.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#952 Force HTML5 script theme support when printing JSON script
  modules/js-and-css/speculation-rules/hooks.php
  tests/modules/js-and-css/speculation-rules/speculation-rules-test.php
Labels: [Type] Bug, [Focus] JS & CSS, no milestone, [Module] Speculation Rules

#886 Add oEmbed optimizer module
  module-i18n.php
  modules/js-and-css/optimize-oembeds/hooks.php
  modules/js-and-css/optimize-oembeds/load.php
Labels: [Focus] JS & CSS, no milestone, [Type] Module Proposal

#976 Prevent optimizing images with data: URLs or no srcs
  modules/images/image-loading-optimization/optimization.php
  tests/modules/images/image-loading-optimization/optimization-tests.php
Labels: [Type] Bug, [Focus] Images, no milestone, [Module] Image Loading Optimization

#974 Remove admin bar skipping logic in favor of varying URL metrics by user being logged-in
  modules/images/image-loading-optimization/class-ilo-html-tag-processor.php
  modules/images/image-loading-optimization/detection/detect.js
  modules/images/image-loading-optimization/optimization.php
  modules/images/image-loading-optimization/storage/data.php
  tests/modules/images/image-loading-optimization/optimization-tests.php
  tests/modules/images/image-loading-optimization/storage/data-tests.php
Labels: [Type] Bug, [Focus] Images, no milestone, [Module] Image Loading Optimization

#977 Fix optimizing pages with stale URL metrics
  modules/images/image-loading-optimization/optimization.php
  tests/modules/images/image-loading-optimization/optimization-tests.php
Labels: [Type] Bug, [Focus] Images, no milestone, [Module] Image Loading Optimization

#978 Wait until idle before starting detection
  modules/images/image-loading-optimization/detection/detect.js
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Module] Image Loading Optimization

#979 Add tests for Optimize Embeds
  module-i18n.php
  modules/js-and-css/embed-optimizer/hooks.php
  modules/js-and-css/embed-optimizer/load.php
  modules/js-and-css/optimize-oembeds/load.php
  phpcs.xml.dist
  tests/modules/js-and-css/embed-optimizer/embed-optimizer-test.php
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone

#987 Add plugin directory assets for Speculation Rules
  modules/js-and-css/speculation-rules/.wordpress-org/banner-1544x500.png
  modules/js-and-css/speculation-rules/.wordpress-org/banner-772x250.png
  modules/js-and-css/speculation-rules/.wordpress-org/icon-128x128.png
  modules/js-and-css/speculation-rules/.wordpress-org/icon-256x256.png
  modules/js-and-css/speculation-rules/.wordpress-org/icon.svg
Labels: [Focus] Images, no milestone, [Type] Task, [Module] Speculation Rules

#986 Add plugin directory assets for Auto Sizes
  modules/images/auto-sizes/.wordpress-org/banner-1544x500.png
  modules/images/auto-sizes/.wordpress-org/banner-772x250.png
  modules/images/auto-sizes/.wordpress-org/icon-128x128.png
  modules/images/auto-sizes/.wordpress-org/icon-256x256.png
  modules/images/auto-sizes/.wordpress-org/icon.svg
Labels: [Focus] Images, no milestone, [Type] Task

#990 Add support for manually running the PHPUnit workflow.
  .github/workflows/php-test.yml
Labels: Infrastructure, no milestone, [Type] Task

#982 Add failure checks to Embed Optimizer
  modules/js-and-css/embed-optimizer/hooks.php
  tests/modules/js-and-css/embed-optimizer/embed-optimizer-test.php
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone, [Module] Embed Optimizer

#989 Remove hard-coded PHPStan config
  composer.json
Labels: [Type] Bug, Infrastructure, no milestone

#984 Use wp_print_inline_script_tag() to construct module script
  modules/js-and-css/embed-optimizer/hooks.php
  tests/modules/js-and-css/embed-optimizer/embed-optimizer-test.php
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone, [Module] Embed Optimizer

#993 Bump version and update readme in Speculation Rules
  modules/js-and-css/speculation-rules/readme.txt
Labels: [Type] Documentation, [Focus] JS & CSS, no milestone, [Module] Speculation Rules

#995 Remove PHPUnit and PHPCS config file path from composer scripts
  .gitignore
  composer.json
Labels: [Type] Enhancement, Infrastructure, no milestone

#972 Move `auto-sizes` to plugins folder
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/deploy-standalone-plugins.yml
  .github/workflows/php-test-plugins.yml
  bin/plugin/commands/build-plugins.js
  bin/plugin/commands/get-plugin-version.js
  bin/plugin/commands/test-plugins.js
  composer.json
  modules/images/auto-sizes/load.php
  phpcs.xml.dist
  phpstan.neon.dist
  phpunit.xml.dist
  plugins.json
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/readme.txt
  tests/bootstrap.php
  tests/plugins/auto-sizes/auto-sizes-test.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#904 Add: Auto Sizes for Lazy-loaded Images
  .github/CODEOWNERS
  .github/workflows/php-test-plugins.yml
  phpcs.xml.dist
  phpunit.xml.dist
  plugins.json
  plugins/.gitkeep
  plugins/auto-sizes/.wordpress-org/banner-1544x500.png
  plugins/auto-sizes/.wordpress-org/banner-772x250.png
  plugins/auto-sizes/.wordpress-org/icon-128x128.png
  plugins/auto-sizes/.wordpress-org/icon-256x256.png
  plugins/auto-sizes/.wordpress-org/icon.svg
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/readme.txt
  tests/bootstrap.php
  tests/plugins/auto-sizes/auto-sizes-test.php
  tests/plugins/test-plugin/test-plugin.php
Labels: [Type] Feature, [Focus] Images, no milestone

#992 Update/2.9.0 release prep
  load.php
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone

#994 Remove repo specific Code of Conduct
  .gitattributes
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: [Type] Documentation, Infrastructure, no milestone

#1009 Merge `trunk` into `feature/modules-to-plugins` with merge conflicts resolved
  .gitattributes
  .github/workflows/php-test.yml
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  composer.json
  load.php
  readme.txt
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#1014 Fix unit test for Multisite
  tests/multisite.xml
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#1005 Added global documentation
  admin/plugins.php
Labels: [Type] Bug, Infrastructure, no milestone

#1002 Separate `phpcs.xml.dist` Files for Each Plugin to Isolate Text Domains
  .gitattributes
  .github/workflows/php-lint.yml
  composer.json
  package.json
  phpcs.ruleset.xml
  phpcs.xml.dist
  plugin-tests/tests/bootstrap.php
  plugins/auto-sizes/phpcs.xml.dist
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#1017 Add shortcuts to simplify running PHPUnit tests for standalone plugins
  .github/workflows/php-test-plugins.yml
  composer.json
  package.json
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#946 Move Speculation Rules to new location as purely a standalone plugin
  .github/CODEOWNERS
  composer.json
  composer.lock
  phpcs.xml.dist
  phpunit.xml.dist
  plugins.json
  plugins/auto-sizes/auto-sizes.php
  plugins/speculation-rules/.wordpress-org/banner-1544x500.png
  plugins/speculation-rules/.wordpress-org/banner-772x250.png
  plugins/speculation-rules/.wordpress-org/icon-128x128.png
  plugins/speculation-rules/.wordpress-org/icon-256x256.png
  plugins/speculation-rules/.wordpress-org/icon.svg
  plugins/speculation-rules/class-plsr-url-pattern-prefixer.php
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/phpcs.xml.dist
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/settings.php
  tests/multisite.xml
  tests/plugins/speculation-rules/plsr-url-pattern-prefixer-test.php
  tests/plugins/speculation-rules/speculation-rules-helper-test.php
  tests/plugins/speculation-rules/speculation-rules-settings-test.php
  tests/plugins/speculation-rules/speculation-rules-test.php
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone, [Module] Speculation Rules

#1020 Remove `TODO` from `deploy-standalone-plugins.yml`
  .github/workflows/deploy-standalone-plugins.yml
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins
