Repository WordPress/performance, pull requests merged in 2024-07, with the labels that each got.

#1325 Upgrade PHPStan to 1.11.6
  composer.lock
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Enhancement

#1290 improved image `sizes` for left/right/center alignment
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-improve-sizes.php
Labels: [Type] Enhancement, no milestone, [Plugin] Auto Sizes

#1333 Bump minimum WP versions and WP version tested up to
  .github/workflows/php-test-plugins.yml
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-html-tag-walker.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/tests/test-speculation-rules.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Enhancement

#1323 Send preload links via HTTP Link headers in addition to LINK tags
  plugins/optimization-detective/class-od-preload-link-collection.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement

#1334 Remove 'Requires at least' and 'Requires PHP' from plugin readmes
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/readme.txt
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/readme.txt
Labels: [Type] Enhancement

#1336 Update WP version in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: [Type] Documentation, Infrastructure, no milestone

#1319 Picture element images: Add missing alt text
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats, no milestone, [Module] Picture Element

#1287 I18N: Add context to Modern Image Formats section title
  plugins/webp-uploads/settings.php
Labels: [Type] Enhancement

#1335 Update `Auto-sizes for Lazy-loaded Images` plugin name to `Enhanced Responsive Images`
  .github/CODEOWNERS
  .github/workflows/php-test-plugins.yml
  CONTRIBUTING.md
  composer.json
  composer.lock
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/phpcs.xml.dist
  plugins/auto-sizes/readme.txt
  plugins/auto-sizes/tests/test-auto-sizes.php
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/dominant-color-images/tests/data/class-testcase.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-html-tag-walker.php
  plugins/optimization-detective/class-od-preload-link-collection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/tests/test-optimization.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/tests/test-speculation-rules.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/settings.php
  plugins/webp-uploads/tests/test-load.php
  plugins/webp-uploads/tests/test-picture-element.php
  tests/bootstrap.php
  tests/multisite.xml
Labels: [Type] Enhancement, no milestone, [Plugin] Auto Sizes

#1339 Update the plugin description for Enhanced Responsive Images
  plugins/auto-sizes/readme.txt
Labels: [Type] Documentation, [Plugin] Auto Sizes

#1337 Facilitate embedding of Embed Optimizer
  plugins/embed-optimizer/load.php
  tools/phpstan/constants.php
Labels: [Type] Enhancement, [Plugin] Embed Optimizer

#1302 Leverage Optimization Detective to optimize embeds in Embed Optimizer
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/phpcs.xml.dist
  plugins/embed-optimizer/readme.txt
  plugins/embed-optimizer/tests/bootstrap.php
  plugins/embed-optimizer/tests/test-hooks.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-html-tag-walker.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/class-od-url-metrics-group.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-tag-visitor-registry.php
  plugins/optimization-detective/tests/test-optimization.php
  tests/bootstrap.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Embed Optimizer

#1338 Avoid passing positional parameters in Optimization Detective
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-class-od-tag-visitor-registry.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, [Plugin] Image Prioritizer

#1343 Bump latest test version to 6.6-RC3 in php-test-plugins workflow
  .github/workflows/php-test-plugins.yml
Labels: [Type] Enhancement, Infrastructure, skip changelog

#1329 Merge initial accurate sizes work into trunk
  .github/CODEOWNERS
  phpstan.neon.dist
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/phpcs.xml.dist
  plugins/auto-sizes/readme.txt
  plugins/auto-sizes/tests/test-auto-sizes.php
  plugins/auto-sizes/tests/test-improve-sizes.php
Labels: [Type] Enhancement, [Plugin] Auto Sizes, skip changelog

#1344 Update the plugin header description
  plugins/auto-sizes/auto-sizes.php
Labels: [Type] Documentation, [Plugin] Auto Sizes

#1322 Integrate Auto Sizes with Image Prioritizer to ensure correct sizes=auto
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/optimization-detective.php
  plugins/auto-sizes/readme.txt
  plugins/auto-sizes/tests/bootstrap.php
  plugins/auto-sizes/tests/test-optimization-detective.php
Labels: [Type] Enhancement, [Plugin] Auto Sizes, [Plugin] Image Prioritizer

#1345 Prepare 3.3.0 release
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/optimization-detective.php
  plugins/auto-sizes/readme.txt
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1347 Bump Image Prioritizer to 0.1.2
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
Labels: [Type] Documentation, no milestone, [Plugin] Image Prioritizer

#1348 Explain how to regenerate images in the Modern Image Formats readme
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation

#1351 Improve changelog generation script to support closed milestones and avoid adding an empty other section
  bin/plugin/commands/readme.js
  bin/plugin/lib/milestone.js
  plugins/performance-lab/readme.txt
Labels: [Type] Bug, skip changelog

#1353 Restore WP version to latest instead of 6.6-RC
  .github/workflows/php-test-plugins.yml
Labels: [Type] Enhancement, skip changelog

#1352 Add notices to generate-pending-release-diffs which indicate whether a release will occur
  bin/generate-pending-release-diffs.sh
Labels: [Type] Enhancement, skip changelog

#1355 Add Dependabot config
  .github/dependabot.yml
Labels: [Type] Enhancement, Infrastructure, skip changelog

#1372 Add labels for Dependabot PRs
  .github/dependabot.yml
Labels: [Type] Enhancement, skip changelog

#1376 Fix logic for seeking during optimization loop to prevent emitting seek() notices
  plugins/auto-sizes/tests/test-optimization-detective.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1378 WebP Uploads: Prevent picture element when JPEG output is disabled
  plugins/webp-uploads/helper.php
Labels: [Type] Bug, [Plugin] Modern Image Formats, skip changelog

#1387 Fix Optimization Detective test case for WP 6.7-alpha
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#1241 Add PHPStan strict rules (except for empty.notAllowed)
  composer.json
  composer.lock
  phpstan.neon.dist
  plugins/auto-sizes/hooks.php
  plugins/dominant-color-images/class-dominant-color-image-editor-gd.php
  plugins/dominant-color-images/class-dominant-color-image-editor-imagick.php
  plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/hooks.php
  plugins/dominant-color-images/tests/data/class-testcase.php
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/class-od-url-metrics-group.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/admin/plugins.php
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing-metric.php
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing.php
  plugins/performance-lab/includes/server-timing/defaults.php
  plugins/performance-lab/includes/server-timing/hooks.php
  plugins/performance-lab/includes/site-health/audit-enqueued-assets/helper.php
  plugins/performance-lab/includes/site-health/audit-enqueued-assets/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/tests/includes/admin/test-server-timing.php
  plugins/speculation-rules/class-plsr-url-pattern-prefixer.php
  plugins/speculation-rules/helper.php
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/tests/data/class-wp-image-edit.php
  plugins/webp-uploads/tests/test-picture-element.php
  tests/bootstrap.php
Labels: [Type] Enhancement

#1391 Eliminate use of empty() in Embed Optimizer and Optimization Detective
  phpstan.neon.dist
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/optimization-detective/storage/data.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, skip changelog

#1393 Allow null to be passed into perflab_admin_pointer()
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/tests/includes/admin/test-load.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1395 Update PHPStan to 1.11.8
  composer.lock
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
Labels: [Type] Enhancement, skip changelog, [Plugin] Image Prioritizer, dependencies

#1392 Add strict PHPStan rules for Speculative Loading
  phpstan.neon.dist
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/settings.php
Labels: [Type] Enhancement, [Plugin] Speculative Loading, skip changelog

#1394 Prepare 3.3.1 release of performance-lab (standalone, without other plugins)
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1400 Post 3.3.1 release merge
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, [Plugin] Performance Lab, skip changelog

#1406 Fix format scripts
  composer.json
  package.json
Labels: [Type] Bug, Infrastructure, no milestone, skip changelog, [Plugin] Image Prioritizer

#1399 Remove sizes attribute when the responsive image disabled
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-improve-sizes.php
Labels: [Type] Bug, [Plugin] Enhanced Responsive Images, skip changelog

#1354 Fix sizes issue for picture element
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1374 Fix disabled options reappear in Site Health after external update
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
  plugins/performance-lab/tests/includes/site-health/audit-autoloaded-options/test-audit-autoloaded-options.php
Labels: [Type] Bug, [Plugin] Performance Lab, skip changelog

#1402 Add standalone plugin test commands
  package.json
Labels: [Type] Enhancement, Infrastructure, skip changelog

#1404 Fix handling of image prioritization when only some viewport groups are populated
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
Labels: [Type] Bug, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1401 Add test-php-watch command
  bin/test-php-watch.sh
  package.json
Labels: [Type] Enhancement, Infrastructure, skip changelog

#1403 Clean up object-cache drop-ins before starting tests
  tests/bootstrap.php
Labels: [Type] Bug, Infrastructure, skip changelog

#1405 Move Optimization Detective test cases into separate files and add helper trait to reduce code duplication
  plugins/auto-sizes/tests/test-optimization-detective.php
  plugins/embed-optimizer/tests/test-cases/nested-figure-embed.php
  plugins/embed-optimizer/tests/test-cases/single-spotify-embed-outside-viewport-with-subsequent-script.php
  plugins/embed-optimizer/tests/test-cases/single-twitter-embed-inside-viewport.php
  plugins/embed-optimizer/tests/test-cases/single-twitter-embed-outside-viewport.php
  plugins/embed-optimizer/tests/test-cases/single-wordpress-tv-embed-inside-viewport.php
  plugins/embed-optimizer/tests/test-cases/single-wordpress-tv-embed-outside-viewport.php
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-inside-viewport.php
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-outside-viewport.php
  plugins/embed-optimizer/tests/test-cases/too-many-bookmarks.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-background-image-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-with-fully-incomplete-sample-data.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-with-stale-sample-data.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-non-consecutive-viewport-groups-with-missing-data-for-middle-group.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints-and-one-is-stale.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints.php
  plugins/image-prioritizer/tests/test-cases/fetch-priority-high-already-on-common-lcp-image-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/no-lcp-image-with-populated-url-metrics.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-but-server-side-heuristics-added-fetchpriority-high.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-for-image-without-src.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-data-url-background-image.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-data-url-image.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-non-background-image-style.php
  plugins/image-prioritizer/tests/test-cases/no-url-metrics.php
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated.php
  plugins/image-prioritizer/tests/test-cases/responsive-background-images.php
  plugins/image-prioritizer/tests/test-cases/url-metric-only-captured-for-one-breakpoint.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/tests/test-cases/complete-url-metrics.php
  plugins/optimization-detective/tests/test-cases/many-images.php
  plugins/optimization-detective/tests/test-cases/no-url-metrics.php
  plugins/optimization-detective/tests/test-cases/rss-response.php
  plugins/optimization-detective/tests/test-cases/video.php
  plugins/optimization-detective/tests/test-cases/xhtml-response.php
  plugins/optimization-detective/tests/test-optimization.php
  tests/bootstrap.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Enhancement, no milestone, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, skip changelog, [Plugin] Image Prioritizer

#1411 Implement full support for intersectionRect/boundingClientRect, fix viewportRect typing, and harden JSON schema
  plugins/auto-sizes/tests/test-optimization-detective.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-with-fully-incomplete-sample-data.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-non-consecutive-viewport-groups-with-missing-data-for-middle-group.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints-and-one-is-stale.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints.php
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated.php
  plugins/image-prioritizer/tests/test-cases/responsive-background-images.php
  plugins/image-prioritizer/tests/test-cases/url-metric-only-captured-for-one-breakpoint.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/class-od-url-metrics-group.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-optimization.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1422 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Infrastructure, no milestone, skip changelog
