Repository WordPress/performance, pull requests merged in 2024-12, with the labels that each got.

#1705 Mark existing URL Metrics as stale when a new tag visitor is registered
  plugins/embed-optimizer/tests/test-optimization-detective.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-cases/complete-url-metrics.php
  plugins/optimization-detective/tests/test-class-od-element.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-detection.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1683 Bump minimum required WordPress version to 6.6
  .github/workflows/php-test-plugins.yml
  plugins/auto-sizes/auto-sizes.php
  plugins/dominant-color-images/load.php
  plugins/embed-optimizer/load.php
  plugins/image-prioritizer/load.php
  plugins/optimization-detective/load.php
  plugins/performance-lab/load.php
  plugins/speculation-rules/load.php
  plugins/web-worker-offloading/load.php
  plugins/webp-uploads/load.php
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1712 Prevent submitting URL Metric if viewport size changed
  plugins/optimization-detective/detect.js
Labels: [Type] Bug, [Plugin] Optimization Detective

#1707 Add preload links LCP picture elements
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-all-breakpoints.php
  plugins/image-prioritizer/tests/test-cases/picture-element-as-lcp-tablet-and-desktop-metrics-missing.php
  plugins/image-prioritizer/tests/test-cases/picture-element-with-lcp-image-and-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/picture-element-with-source-having-media-attribute.php
  plugins/image-prioritizer/tests/test-cases/picture-element-with-source-missing-type-attribute.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
Labels: [Type] Enhancement, [Plugin] Image Prioritizer

#1689 Enable end user opt-in to generate all sizes in fallback format
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/settings.php
  plugins/webp-uploads/tests/test-load.php
  plugins/webp-uploads/uninstall.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1723 Add `fetchpriority=high` to `IMG` when it is the LCP element on desktop and mobile with other viewport groups empty
  plugins/image-prioritizer/tests/test-cases/fetch-priority-high-on-lcp-image-common-on-mobile-and-desktop-with-url-metrics-missing-in-other-groups.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1694 Disregard transient cache in perflab_query_plugin_info() when a plugin is absent
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1733 Fix PHPStan warnings and deprecated notices
  composer.lock
  phpstan.neon.dist
Labels: [Type] Enhancement, Infrastructure, no milestone

#1701 Accurate sizes: Pass parent alignment context to images
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1737 Accurate sizes: Support relative alignment widths
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Enhancement, no milestone, [Plugin] Enhanced Responsive Images

#1685 Integrate Web Worker Offloading with Rank Math SEO
  plugins/web-worker-offloading/third-party.php
  plugins/web-worker-offloading/third-party/seo-by-rank-math.php
Labels: [Type] Enhancement, [Plugin] Web Worker Offloading

#1738 Accurate Sizes: Incorporate layout constraints in image sizes calculations
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/includes/auto-sizes.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Feature, [Plugin] Enhanced Responsive Images

#1719 Enhance admin media UI with dominant color support
  plugins/dominant-color-images/hooks.php
Labels: [Type] Enhancement, [Plugin] Image Placeholders

#1656 Improve debugging stored URL Metrics in Optimization Detective
  plugins/optimization-detective/detect.js
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1686 Integrate Web Worker Offloading with Google Site Kit
  plugins/web-worker-offloading/third-party.php
  plugins/web-worker-offloading/third-party/google-site-kit.php
  plugins/web-worker-offloading/third-party/seo-by-rank-math.php
  plugins/web-worker-offloading/third-party/woocommerce.php
Labels: [Type] Enhancement, [Plugin] Web Worker Offloading

#1740 Fix tracking events like add_to_cart in WooCommerce integration
  plugins/web-worker-offloading/third-party/woocommerce.php
Labels: [Type] Bug, [Plugin] Web Worker Offloading

#1722 Incorporate page state into ETag computation
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/data/themes/block-theme/style.css
  plugins/optimization-detective/tests/data/themes/block-theme/templates/index.html
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/test-helper.php
  plugins/optimization-detective/tests/test-optimization.php
  tests/class-optimization-detective-test-helpers.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1734 Add guidance for managing Performance feature plugins
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1743 Remove `auto_sizes_get_layout_settings()`
  plugins/auto-sizes/includes/improve-calculate-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1744 Accurate sizes: Check sizes issue for classic theme
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Bug, [Plugin] Enhanced Responsive Images

#1713 Harden validation of user-submitted LCP background image URL
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-video-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/readme.txt
  plugins/image-prioritizer/tests/test-helper.php
  plugins/image-prioritizer/tests/test-hooks.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1756 Account for $meta arg in wp_prepare_attachment_for_js not being an array
  plugins/dominant-color-images/hooks.php
Labels: [Type] Bug, [Plugin] Image Placeholders, skip changelog

#1758 Post 3.7.0 release merge
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/includes/auto-sizes.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/hooks.php
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/detect.js
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/data.php
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
  plugins/web-worker-offloading/third-party/google-site-kit.php
  plugins/web-worker-offloading/third-party/seo-by-rank-math.php
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/settings.php
Labels: [Type] Documentation, Infrastructure, skip changelog

#1760 Remove erroneous check for resource initiator type when considering whether to submit LCP background image
  plugins/image-prioritizer/detect.js
Labels: [Type] Bug, [Plugin] Image Prioritizer

#1761 Enqueued scripts should use plugins_url() instead of plugin_dir_url()
  plugins/embed-optimizer/hooks.php
  plugins/image-prioritizer/helper.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/includes/admin/load.php
  plugins/web-worker-offloading/helper.php
Labels: [Type] Enhancement, [Plugin] Performance Lab, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, [Plugin] Image Prioritizer, [Plugin] Web Worker Offloading

#1666 Only check plugin version integrity in deployment workflow if the plugin actually requires to be deployed
  .github/workflows/deploy-plugins.yml
Labels: [Type] Bug, Infrastructure, no milestone
