Repository WordPress/performance, pull requests merged in 2024-09, with the labels that each got.

#1421 Convert uploaded PNG files to AVIF or WebP
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/settings.php
  plugins/webp-uploads/tests/test-helper.php
Labels: [Type] Enhancement

#1522 Add missing global documentation for `delete_all_posts()`
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
Labels: [Type] Bug

#1476 Move Auto Sizes logic from Enhanced Responsive Images to Image Prioritizer
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/optimization-detective.php
  plugins/auto-sizes/tests/test-auto-sizes.php
  plugins/auto-sizes/tests/test-optimization-detective.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-all-breakpoints.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-link-collection.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1533 Fix unit tests for webp-uploads with WordPress 6.7-alpha after sizes=auto landed
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats, skip changelog

#1492 Allow URL metric schema to be extended
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-strict-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1541 Fix unit tests issue for Modern Image Formats
  plugins/webp-uploads/tests/test-picture-element-original-fallback.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats, skip changelog

#1547 Update auto sizes logic in Enhanced Responsive Images plugin to no longer load if already in Core
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-auto-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#1549 Post 3.4.1 release merge
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1497 Update strategy for adding `script[type="text/partytown"]` to worker scripts
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/readme.txt
  plugins/web-worker-offloading/tests/test-web-worker-offloading.php
Labels: [Type] Enhancement, no milestone, [Plugin] Web Worker Offloading

#1562 Implemented single WordPress.org API request to get plugin information
  plugins/performance-lab/includes/admin/plugins.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1565 Fix Optimization Detective compatibility with WooCommerce when Coming Soon page is served
  plugins/optimization-detective/optimization.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1563 Integrate with WooCommerce to offload Google Analytics to Web Worker
  package-lock.json
  package.json
  plugins.json
  plugins/web-worker-offloading/helper.php
  plugins/web-worker-offloading/hooks.php
  plugins/web-worker-offloading/load.php
  plugins/web-worker-offloading/readme.txt
  plugins/web-worker-offloading/tests/test-web-worker-offloading.php
  plugins/web-worker-offloading/third-party.php
  plugins/web-worker-offloading/third-party/woocommerce.php
Labels: [Type] Enhancement, no milestone, [Plugin] Web Worker Offloading
