Repository WordPress/performance, pull requests merged in 2024-06, with the labels that each got.

#1265 Add install note after each PerfLab feature plugin in the plugin list table
  plugins/performance-lab/includes/admin/load.php
Labels: [Type] Enhancement, Performance Lab Plugin

#1269 Remove Fallback Script
  plugins/webp-uploads/fallback.js
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1261 Optimize lazy-loading of IMG elements in Image Prioritizer
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/class-od-html-tag-walker.php
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/tests/test-class-od-html-tag-walker.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1250 Initial implementation of improved image `sizes` algorithm
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/improve-sizes-test.php
Labels: [Type] Feature, no milestone, [Plugin] Auto Sizes

#1273 Improve Settings->Media controls for Modern Image Formats
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/settings.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1276 Finalize Image Prioritizer 0.1.0 and Optimization Detective 0.3.0 for standalone plugin releases
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/class-image-prioritizer-tag-visitor.php
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-walker.php
  plugins/optimization-detective/class-od-preload-link-collection.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
Labels: [Type] Documentation, skip changelog

#1277 Update generate-pending-release-diffs to support passing a subset of plugins
  bin/generate-pending-release-diffs.sh
Labels: [Type] Enhancement, skip changelog

#1280 Abbreviate release diff when no changes
  bin/generate-pending-release-diffs.sh
Labels: [Type] Enhancement, skip changelog

#1279 Publish 3.2.0 release
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/settings.php
Labels: [Type] Documentation, skip changelog

#1281 Post 3.2.0 release merge
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/settings.php
Labels: [Type] Documentation, Infrastructure, skip changelog

#1282 Add period to the end of the installed-by message
  plugins/performance-lab/includes/admin/load.php
Labels: [Type] Bug, skip changelog

#1283 Fix fatal error when another the_content filter callback returns null instead of a string
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Bug

#1285 Use --force when updating svn to ignore any local unversioned files when running generate-pending-release-diffs
  bin/generate-pending-release-diffs.sh
Labels: [Type] Bug, skip changelog

#1286 Prepare webp-uploads 2.0.1
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, skip changelog

#1288 Fix background-image styled tag visitor's handling of parsing style without background-image
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/image-prioritizer/tests/test-helper.php
Labels: [Type] Bug, [Plugin] Image Prioritizer

#1293 Include non-intersecting elements in URL metrics to fix lazy-load optimization
  plugins/optimization-detective/detect.js
Labels: [Type] Bug, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1295 Log URL metrics group collection to console when WP_DEBUG
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/class-od-url-metrics-group.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1296 Release Optimization Detective v0.3.1
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/class-od-url-metrics-group.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
Labels: [Type] Documentation, [Plugin] Optimization Detective, skip changelog

#1249 Improve message for WebP site health test
  plugins/performance-lab/includes/site-health/webp-support/helper.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1304 Update new banner image for `README.md`
  README.md
Labels: [Type] Enhancement, Infrastructure, no milestone

#1298 Extend core's Autoloaded Options Site Health test if present (in WP 6.6)
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1307 Fix picture support
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug

#1318 Update PHPStan to 1.11.5
  composer.lock
  plugins/dominant-color-images/class-dominant-color-image-editor-gd.php
  plugins/webp-uploads/tests/test-image-edit.php
Labels: [Type] Bug, [Plugin] Image Placeholders

#1252 Use correct sizes for small images
  phpstan.neon.dist
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/improve-sizes-test.php
  plugins/auto-sizes/tests/test-improve-sizes.php
Labels: [Type] Enhancement, no milestone, [Plugin] Auto Sizes

#1314 Add error for incorrect test command usage
  tests/bootstrap.php
Labels: [Type] Enhancement, skip changelog
