Repository WordPress/performance, pull requests merged in 2024-03, with the labels that each got.

#1022 Add caching to the wordpress.org query to get plugin information.
  admin/plugins.php
Labels: [Type] Enhancement, Infrastructure

#1024 Fix missing `ABSPATH` checks in Speculation Rules plugin
  plugins/speculation-rules/class-plsr-url-pattern-prefixer.php
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/settings.php
Labels: [Type] Bug, Infrastructure, no milestone, Creating standalone plugins, Performance Lab Plugin, [Plugin] Speculation Rules, [Plugin] Auto Sizes

#1026 Fix `get-plugin-dir` command for plugins
  bin/plugin/commands/get-plugin-dir.js
Labels: [Type] Bug, Infrastructure, no milestone, Creating standalone plugins

#1019 Upgrade notice to inform users of major change prior to 3.0.0 update
  readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone, Creating standalone plugins

#1027 Update tested WordPress version to 6.5
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
  readme.txt
Labels: [Type] Documentation, Infrastructure

#1028 Add standalone plugins to the wp-env config
  .wp-env.json
Labels: [Type] Enhancement, Infrastructure

#1036 issue #1016 - Settings link is missing from WebP Uploads plugin actio…
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
Labels: [Type] Enhancement, [Focus] Images, [Plugin] WebP Uploads

#1010 Introduce ILO_Grouped_URL_Metrics class
  modules/images/image-loading-optimization/class-ilo-url-metric.php
  modules/images/image-loading-optimization/class-ilo-url-metrics-group-collection.php
  modules/images/image-loading-optimization/class-ilo-url-metrics-group.php
  modules/images/image-loading-optimization/detection.php
  modules/images/image-loading-optimization/detection/detect.js
  modules/images/image-loading-optimization/load.php
  modules/images/image-loading-optimization/optimization.php
  modules/images/image-loading-optimization/storage/data.php
  modules/images/image-loading-optimization/storage/post-type.php
  modules/images/image-loading-optimization/storage/rest-api.php
  tests/modules/images/image-loading-optimization/class-ilo-url-metrics-group-collection-tests.php
  tests/modules/images/image-loading-optimization/class-ilo-url-metrics-group-tests.php
  tests/modules/images/image-loading-optimization/detection-tests.php
  tests/modules/images/image-loading-optimization/storage/data-tests.php
  tests/modules/images/image-loading-optimization/storage/rest-api-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Image Loading Optimization

#1018 Refactor storage lock functions into ILO_Storage_Lock class
  modules/images/image-loading-optimization/class-ilo-storage-lock.php
  modules/images/image-loading-optimization/detection.php
  modules/images/image-loading-optimization/load.php
  modules/images/image-loading-optimization/storage/lock.php
  modules/images/image-loading-optimization/storage/rest-api.php
  tests/modules/images/image-loading-optimization/class-ilo-storage-lock-tests.php
  tests/modules/images/image-loading-optimization/storage/rest-api-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Image Loading Optimization

#1034 Update the .editorconfig to add a new line for json files
  .editorconfig
Labels: Infrastructure, no milestone, [Type] Task

#1038 Add changelog entry for #1036 to WebP Uploads readme
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, [Focus] Images, [Plugin] WebP Uploads, no milestone

#1039 Implement ILO_URL_Metrics_Group_Collection as iterator
  modules/images/image-loading-optimization/class-ilo-url-metric.php
  modules/images/image-loading-optimization/class-ilo-url-metrics-group-collection.php
  modules/images/image-loading-optimization/class-ilo-url-metrics-group.php
  modules/images/image-loading-optimization/detection.php
  modules/images/image-loading-optimization/storage/data.php
  modules/images/image-loading-optimization/storage/post-type.php
  tests/modules/images/image-loading-optimization/class-ilo-url-metric-tests.php
  tests/modules/images/image-loading-optimization/class-ilo-url-metrics-group-collection-tests.php
  tests/modules/images/image-loading-optimization/storage/rest-api-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Image Loading Optimization

#1044 Remove branch restrictions so workflows can run on PRs for any branch
  .github/workflows/js-lint.yml
  .github/workflows/php-lint.yml
  .github/workflows/php-test-plugins.yml
  .github/workflows/php-test.yml
Labels: [Type] Enhancement, Infrastructure, no milestone

#1042 Move site health module to PL core
  includes/server-timing/class-perflab-server-timing-metric.php
  includes/server-timing/class-perflab-server-timing.php
  includes/server-timing/defaults.php
  includes/server-timing/load.php
  includes/server-timing/object-cache.copy.php
  includes/site-health/audit-autoloaded-options/helper.php
  includes/site-health/audit-autoloaded-options/hooks.php
  includes/site-health/audit-enqueued-assets/helper.php
  includes/site-health/audit-enqueued-assets/hooks.php
  includes/site-health/load.php
  includes/site-health/webp-support/helper.php
  includes/site-health/webp-support/hooks.php
  load.php
  modules/database/audit-autoloaded-options/can-load.php
  modules/database/audit-autoloaded-options/load.php
  modules/images/webp-support/can-load.php
  modules/images/webp-support/load.php
  modules/js-and-css/audit-enqueued-assets/can-load.php
  modules/js-and-css/audit-enqueued-assets/load.php
  phpcs.xml.dist
  phpstan.neon.dist
  tests/includes/server-timing/load-tests.php
  tests/includes/server-timing/perflab-server-timing-metric-tests.php
  tests/includes/server-timing/perflab-server-timing-tests.php
  tests/includes/site-health/audit-autoloaded-options/audit-autoloaded-options-test.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-helper-test.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-test.php
  tests/load-tests.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#1047 Enhance `object-cache.php` drop-in placement logic to support updating to a newer version of the file
  load.php
  tests/load-tests.php
Labels: [Type] Enhancement, Infrastructure, Performance Lab Plugin

#1050 Remove checklist from pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Enhancement, Infrastructure, no milestone

#1057 Add generator meta tag for Embed Optimizer
  plugins/embed-optimizer/hooks.php
  tests/plugins/embed-optimizer/embed-optimizer-test.php
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone, [Plugin] Embed Optimizer

#1033 Update plugin(s) build setup for distribution
  .gitattributes
  .github/workflows/deploy-dotorg.yml
  .github/workflows/deploy-standalone-plugins.yml
  bin/plugin/cli.js
  bin/plugin/commands/build-plugins.js
  bin/plugin/commands/get-plugin-dir.js
  bin/plugin/commands/get-plugin-version.js
  bin/webpack/utils.js
  package-lock.json
  package.json
  webpack.config.js
Labels: [Type] Enhancement, Infrastructure, no milestone

#1043 Improve URL handling in Optimization Detective
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/detection/detect.js
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/post-type.php
  plugins/optimization-detective/storage/rest-api.php
  tests/plugins/optimization-detective/class-od-url-metric-tests.php
  tests/plugins/optimization-detective/class-od-url-metrics-group-collection-tests.php
  tests/plugins/optimization-detective/class-od-url-metrics-group-tests.php
  tests/plugins/optimization-detective/optimization-tests.php
  tests/plugins/optimization-detective/storage/data-tests.php
  tests/plugins/optimization-detective/storage/post-type-tests.php
  tests/plugins/optimization-detective/storage/rest-api-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Optimization Detective

#1062 Bump minimum required WP version to 6.4
  .github/workflows/php-test-plugins.yml
  .github/workflows/php-test-standalone-plugins.yml
  CONTRIBUTING.md
  load.php
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
  readme.txt
  tests/plugins/speculation-rules/speculation-rules-test.php
Labels: [Type] Enhancement, Infrastructure, no milestone

#1055 Implement garbage collection of URL metrics including at uninstallation
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/post-type.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/uninstall.php
  tests/plugins/optimization-detective/hooks-tests.php
  tests/plugins/optimization-detective/optimization-tests.php
  tests/plugins/optimization-detective/storage/class-od-storage-lock-tests.php
  tests/plugins/optimization-detective/storage/class-od-url-metrics-post-type-tests.php
  tests/plugins/optimization-detective/storage/post-type-tests.php
  tests/plugins/optimization-detective/storage/rest-api-tests.php
  tests/plugins/optimization-detective/uninstall-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Optimization Detective

#1067 Optimization Detective: Add directory assets, update readme, and add generator meta tag
  plugins/optimization-detective/.wordpress-org/banner-1544x500.png
  plugins/optimization-detective/.wordpress-org/banner-772x250.png
  plugins/optimization-detective/.wordpress-org/icon-128x128.png
  plugins/optimization-detective/.wordpress-org/icon-256x256.png
  plugins/optimization-detective/.wordpress-org/icon.svg
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/readme.txt
  tests/plugins/optimization-detective/helper-tests.php
  tests/plugins/optimization-detective/hooks-tests.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Optimization Detective

#1066 Add Embed Optimizer assets and update readme
  plugins/embed-optimizer/.wordpress-org/banner-1544x500.png
  plugins/embed-optimizer/.wordpress-org/banner-772x250.png
  plugins/embed-optimizer/.wordpress-org/icon-128x128.png
  plugins/embed-optimizer/.wordpress-org/icon-256x256.png
  plugins/embed-optimizer/.wordpress-org/icon.svg
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone, [Plugin] Embed Optimizer

#1059 Merge Embed Optimizer into trunk
  .github/CODEOWNERS
  .wp-env.json
  composer.json
  load.php
  module-i18n.php
  phpcs.ruleset.xml
  phpunit.xml.dist
  plugins.json
  plugins/embed-optimizer/.wordpress-org/banner-1544x500.png
  plugins/embed-optimizer/.wordpress-org/banner-772x250.png
  plugins/embed-optimizer/.wordpress-org/icon-128x128.png
  plugins/embed-optimizer/.wordpress-org/icon-256x256.png
  plugins/embed-optimizer/.wordpress-org/icon.svg
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/phpcs.xml.dist
  plugins/embed-optimizer/readme.txt
  tests/plugins/embed-optimizer/embed-optimizer-test.php
Labels: [Type] Feature, [Focus] JS & CSS, no milestone, [Plugin] Embed Optimizer

#1070 Rename the `$p` parameter to `$html_processor` for more context explanation
  plugins/embed-optimizer/hooks.php
Labels: [Type] Enhancement, [Focus] JS & CSS, no milestone, [Plugin] Embed Optimizer

#1060 Remove modules infrastructure and UI from the plugin
  .github/workflows/php-test-standalone-plugins.yml
  README.md
  admin/js/perflab-module-migration-notice.js
  admin/load.php
  admin/plugins.php
  bin/plugin/cli.js
  bin/plugin/commands/common.js
  bin/plugin/commands/enabled-modules.js
  bin/plugin/commands/readme.js
  bin/plugin/commands/test-plugins.js
  bin/plugin/commands/translations.js
  composer.json
  default-enabled-modules.php
  load.php
  module-i18n.php
  package.json
  phpcs.xml.dist
  phpstan.neon.dist
  plugins.json
  readme.txt
  tests/admin/load-tests.php
  tests/load-tests.php
  tests/testdata/demo-modules/check-error/demo-module-4/can-load.php
  tests/testdata/demo-modules/check-error/demo-module-4/load.php
  tests/testdata/demo-modules/images/demo-module-3/can-load.php
  tests/testdata/demo-modules/images/demo-module-3/load.php
  tests/testdata/demo-modules/js-and-css/demo-module-1/can-load.php
  tests/testdata/demo-modules/js-and-css/demo-module-1/load.php
  tests/testdata/demo-modules/something/demo-module-2/activate.php
  tests/testdata/demo-modules/something/demo-module-2/deactivate.php
  tests/testdata/demo-modules/something/demo-module-2/load.php
  uninstall.php
Labels: [Type] Enhancement, Infrastructure, Creating standalone plugins

#1064 Simplify PR requirements while allowing changelog script to apply to any standalone plugin
  .github/ISSUE_TEMPLATE/trac_ticket.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-validation.yml
  bin/plugin/commands/changelog.js
Labels: [Type] Enhancement, Infrastructure, no milestone

#1072 Move `admin` to `includes` directory
  includes/admin/js/perflab-plugin-management.js
  includes/admin/load.php
  includes/admin/plugins.php
  includes/admin/server-timing.php
  load.php
  phpstan.neon.dist
  tests/bootstrap.php
  tests/includes/admin/load-tests.php
  tests/includes/admin/server-timing-tests.php
Labels: [Type] Enhancement, Infrastructure, skip changelog

#1076 Bump minimum required WP version to 6.4
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
Labels: [Type] Enhancement, [Plugin] Embed Optimizer

#1074 Fix standalone plugin versions and changelogs
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/readme.txt
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Bug, [Focus] JS & CSS, no milestone, [Plugin] Speculation Rules, skip changelog

#1071 Remove workflow to test standalone plugins built from modules as no longer relevant
  .github/workflows/php-test-standalone-plugins.yml
  bin/plugin/cli.js
  bin/plugin/commands/test-plugins.js
  package.json
Labels: [Type] Enhancement, Infrastructure, Creating standalone plugins, skip changelog

#1048 Support changing autoload value for largest autoloaded options in Site Health check
  .github/workflows/php-test.yml
  includes/site-health/audit-autoloaded-options/helper.php
  includes/site-health/audit-autoloaded-options/hooks.php
  tests/includes/site-health/audit-autoloaded-options/audit-autoloaded-options-test.php
Labels: [Type] Enhancement, [Module] Audit Autoloaded Options, [Focus] Database Optimization

#1068 Bump minimum WP version for Optimization Detective
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
Labels: [Type] Enhancement, [Focus] Images, no milestone, [Plugin] Optimization Detective, blocked

#1073 Fix static analysis issues and code quality in PerfLab load.php files
  includes/admin/js/perflab-plugin-management.js
  includes/admin/load.php
  load.php
  phpstan.neon.dist
Labels: [Type] Bug, Infrastructure, skip changelog

#1075 Enhance readme CLI command to support standalone plugins
  bin/plugin/commands/readme.js
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins

#1080 Update Optimization Detective plugin build process
  .github/workflows/deploy-dotorg.yml
  .github/workflows/deploy-standalone-plugins.yml
  .github/workflows/php-test.yml
  bin/webpack/utils.js
  package.json
  plugins/optimization-detective/load.php
  webpack.config.js
Labels: [Type] Enhancement, Infrastructure, no milestone

#1078 Update readme and phpdoc for initial Optimization Detective release
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/data.php
Labels: [Type] Documentation, no milestone, [Plugin] Optimization Detective, skip changelog

#1079 Merge Optimization Detective into trunk
  .github/CODEOWNERS
  .github/workflows/php-test-plugins.yml
  .github/workflows/php-test.yml
  .gitignore
  .wp-env.json
  bin/webpack/utils.js
  composer.json
  composer.lock
  includes/admin/server-timing.php
  includes/server-timing/class-perflab-server-timing.php
  load.php
  package-lock.json
  package.json
  phpcs.ruleset.xml
  phpcs.xml.dist
  phpunit.xml.dist
  plugins.json
  plugins/optimization-detective/.wordpress-org/banner-1544x500.png
  plugins/optimization-detective/.wordpress-org/banner-772x250.png
  plugins/optimization-detective/.wordpress-org/icon-128x128.png
  plugins/optimization-detective/.wordpress-org/icon-256x256.png
  plugins/optimization-detective/.wordpress-org/icon.svg
  plugins/optimization-detective/class-od-data-validation-exception.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/class-od-url-metrics-group-collection.php
  plugins/optimization-detective/class-od-url-metrics-group.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/detection/detect.js
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/phpcs.xml.dist
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/uninstall.php
  tests/includes/admin/server-timing-tests.php
  tests/plugins/optimization-detective/class-od-html-tag-processor-tests.php
  tests/plugins/optimization-detective/class-od-url-metric-tests.php
  tests/plugins/optimization-detective/class-od-url-metrics-group-collection-tests.php
  tests/plugins/optimization-detective/class-od-url-metrics-group-tests.php
  tests/plugins/optimization-detective/detection-tests.php
  tests/plugins/optimization-detective/helper-tests.php
  tests/plugins/optimization-detective/hooks-tests.php
  tests/plugins/optimization-detective/optimization-tests.php
  tests/plugins/optimization-detective/storage/class-od-storage-lock-tests.php
  tests/plugins/optimization-detective/storage/class-od-url-metrics-post-type-tests.php
  tests/plugins/optimization-detective/storage/data-tests.php
  tests/plugins/optimization-detective/storage/rest-api-tests.php
  tests/plugins/optimization-detective/uninstall-tests.php
  tests/plugins/speculation-rules/speculation-rules-helper-test.php
  tests/plugins/speculation-rules/speculation-rules-test.php
  webpack.config.js
Labels: [Type] Feature, no milestone, [Plugin] Optimization Detective, skip changelog

#1087 Remove `plugin-tests` folder
  plugin-tests/.wp-env.json
  plugin-tests/composer.json
  plugin-tests/multisite.xml
  plugin-tests/phpunit.xml
  plugin-tests/tests/bootstrap.php
  plugin-tests/tests/test-standalone.php
Labels: [Type] Enhancement, Infrastructure, no milestone, Creating standalone plugins, skip changelog

#1082 Further refine Optimization Detective integration with build process and PL plugin
  .gitattributes
  bin/phpcs/phpcs.ruleset.xml
  includes/admin/server-timing.php
  includes/server-timing/class-perflab-server-timing.php
  phpcs.xml.dist
  plugins/auto-sizes/phpcs.xml.dist
  plugins/dominant-color-images/phpcs.xml.dist
  plugins/embed-optimizer/phpcs.xml.dist
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/phpcs.xml.dist
  plugins/speculation-rules/phpcs.xml.dist
  plugins/webp-uploads/phpcs.xml.dist
  webpack.config.js
Labels: [Type] Enhancement, no milestone, [Plugin] Optimization Detective, skip changelog

#1092 Replace module proposal template with plugin proposal template
  .github/ISSUE_TEMPLATE/new-module-proposal.md
  .github/ISSUE_TEMPLATE/new-plugin-proposal.md
Labels: [Type] Documentation, Infrastructure, no milestone, Creating standalone plugins

#1094 Update `CODEOWNERS` file
  .github/CODEOWNERS
Labels: [Type] Enhancement, Infrastructure, no milestone

#1097 Fix auto sizes plugin description
  plugins/auto-sizes/auto-sizes.php
Labels: [Type] Enhancement, [Plugin] Auto Sizes, skip changelog

#1102 Add Speculative Loading generator tag
  plugins/dominant-color-images/hooks.php
  plugins/embed-optimizer/hooks.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/readme.txt
  plugins/webp-uploads/hooks.php
Labels: [Type] Enhancement, [Plugin] Speculation Rules

#1100 Clean up outdated module references
  bin/plugin/commands/readme.js
  includes/admin/load.php
  load.php
  plugins/embed-optimizer/load.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/image-edit.php
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/rest-api.php
  plugins/webp-uploads/settings.php
  readme.txt
  tests/bootstrap.php
  tests/includes/site-health/audit-autoloaded-options/audit-autoloaded-options-test.php
  tests/includes/site-health/audit-enqueued-assets/audit-enqueued-assets-test.php
  tests/plugins/auto-sizes/auto-sizes-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/plugins/dominant-color-images/dominant-color-test.php
  tests/plugins/optimization-detective/detection-tests.php
  tests/plugins/optimization-detective/helper-tests.php
  tests/plugins/optimization-detective/hooks-tests.php
  tests/plugins/optimization-detective/optimization-tests.php
  tests/plugins/optimization-detective/storage/class-od-url-metrics-post-type-tests.php
  tests/plugins/optimization-detective/storage/data-tests.php
  tests/plugins/optimization-detective/storage/rest-api-tests.php
  tests/plugins/optimization-detective/uninstall-tests.php
  tests/plugins/speculation-rules/speculation-rules-test.php
  tests/plugins/webp-uploads/helper-tests.php
  tests/plugins/webp-uploads/image-edit-tests.php
  tests/plugins/webp-uploads/load-tests.php
  tests/plugins/webp-uploads/rest-api-tests.php
Labels: [Type] Documentation, Infrastructure, Creating standalone plugins, Performance Lab Plugin, skip changelog

#1101 Update plugin names and descriptions to better describe their features
  .github/CODEOWNERS
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/hooks.php
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/phpcs.xml.dist
  plugins/dominant-color-images/readme.txt
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/phpcs.xml.dist
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/settings.php
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/phpcs.xml.dist
  plugins/webp-uploads/readme.txt
  plugins/webp-uploads/settings.php
  readme.txt
  tests/plugins/dominant-color-images/dominant-color-image-editor-gd-test.php
  tests/plugins/dominant-color-images/dominant-color-image-editor-imagick-test.php
  tests/plugins/dominant-color-images/dominant-color-test.php
Labels: [Type] Documentation, Infrastructure, Performance Lab Plugin, skip changelog
