Repository WordPress/performance, pull requests merged in 2025-06, with the labels that each got.

#2036 Fix view transitions setting values not being saved
  plugins/view-transitions/includes/settings.php
  plugins/view-transitions/readme.txt
  plugins/view-transitions/view-transitions.php
Labels: [Type] Bug, [Plugin] View Transitions

#2035 Effective asset cache headers audit should not fail when on local/development environments
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/hooks.php
  plugins/performance-lab/tests/includes/site-health/effective-asset-cache-headers/test-effective-asset-cache-headers.php
Labels: [Type] Bug, [Plugin] Performance Lab

#2041 Add an After activation section as part of installation instructions for plugins with settings UI
  plugins/speculation-rules/readme.txt
  plugins/view-transitions/readme.txt
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, [Plugin] Modern Image Formats, no milestone, [Plugin] Speculative Loading, [Plugin] View Transitions

#2048 Add PHPCS ruleset from Plugin Check and fix issues
  composer.json
  composer.lock
  lint-staged.config.js
  phpcs.xml.dist
  plugins/auto-sizes/phpcs.xml.dist
  plugins/dominant-color-images/phpcs.xml.dist
  plugins/embed-optimizer/phpcs.xml.dist
  plugins/image-prioritizer/phpcs.xml.dist
  plugins/optimization-detective/phpcs.xml.dist
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/tests/storage/test-class-od-storage-lock.php
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
  plugins/performance-lab/phpcs.xml.dist
  plugins/speculation-rules/phpcs.xml.dist
  plugins/view-transitions/phpcs.xml.dist
  plugins/web-worker-offloading/phpcs.xml.dist
  plugins/webp-uploads/phpcs.xml.dist
  tools/phpcs/phpcs.ruleset.xml
  tools/phpcs/plugin-check.ruleset.xml
Labels: [Type] Bug, skip changelog

#2038 Add view transitions for WP Admin
  plugins/view-transitions/hooks.php
  plugins/view-transitions/includes/admin.php
  plugins/view-transitions/includes/settings.php
  plugins/view-transitions/view-transitions.php
Labels: [Type] Feature, no milestone, [Plugin] View Transitions

#2066 Prepare the Accurate Sizes changes for release as part of the `auto-sizes` plugin
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog
