Repository WordPress/performance, pull requests merged in 2025-03, with the labels that each got.

#1895 Expose the logging functions to client-side extensions and automatically account for the value of `isDebug`
  plugins/embed-optimizer/detect.js
  plugins/image-prioritizer/detect.js
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/types.ts
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Embed Optimizer, [Plugin] Image Prioritizer

#1887 Fix Modern Image Format not cropping image if crop is an array
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/tests/test-helper.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1907 Fix URL encoding in Link HTTP response header
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
Labels: [Type] Bug, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1908 Account for `OPTIMIZATION_DETECTIVE_VERSION` not always being defined for Embed Optimizer
  plugins/embed-optimizer/hooks.php
Labels: [Type] Bug, [Plugin] Embed Optimizer, skip changelog

#1913 Keep timestamps current for URL Metrics in fixture
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#1917 Get unit test fix in feature branch
  package-lock.json
  package.json
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1837 Improve Test Coverage for Dominant Color Images Plugin
  plugins/dominant-color-images/helper.php
  plugins/dominant-color-images/load.php
  plugins/dominant-color-images/tests/data/class-testcase.php
  plugins/dominant-color-images/tests/test-dominant-color-image-editor-imagick.php
  plugins/dominant-color-images/tests/test-dominant-color.php
Labels: [Type] Enhancement, no milestone, [Plugin] Image Placeholders, skip changelog

#1911 Handle missing Web Crypto API in non-HTTPS contexts
  plugins/optimization-detective/detect.js
Labels: [Type] Bug, [Plugin] Optimization Detective

#1885 Fix incorrect image size selection in `PICTURE` element
  plugins/webp-uploads/picture-element.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#1905 Implement Compression Streams API for URL Metrics JSON Compression
  composer.json
  composer.lock
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-hooks.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1865 Fix triggering post update actions after storing a URL Metric and refactor REST API endpoint logic into class
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/deprecated.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/site-health.php
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/optimization-detective/tests/test-hooks.php
  plugins/optimization-detective/tests/test-site-health.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1919 Fire actions before and after Optimization Detective processes a document
  plugins/image-prioritizer/class-image-prioritizer-background-image-styled-tag-visitor.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-template-optimization-context.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-cases/admin-bar/expected.html
  plugins/optimization-detective/tests/test-cases/complete-url-metrics/expected.html
  plugins/optimization-detective/tests/test-cases/many-images/expected.html
  plugins/optimization-detective/tests/test-cases/no-url-metrics/expected.html
  plugins/optimization-detective/tests/test-cases/noscript/expected.html
  plugins/optimization-detective/tests/test-cases/preload-link/expected.html
  plugins/optimization-detective/tests/test-cases/tag-track-opt-in/expected.html
  plugins/optimization-detective/tests/test-cases/video/expected.html
  plugins/optimization-detective/tests/test-cases/xhtml-response/expected.html
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1929 Revert gzip compression of URL Metric data
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/storage/test-class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/tests/test-detection.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#1932 Prepare 2025-03-17 release
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-template-optimization-context.php
  plugins/optimization-detective/deprecated.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-class-od-rest-url-metrics-store-endpoint.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/wp-core-api.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone, skip changelog

#1933 Post 2025-03-17 release merge
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-template-optimization-context.php
  plugins/optimization-detective/deprecated.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/storage/test-class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/wp-core-api.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone, skip changelog

#1927 Short-circuit detection when page is opened in background tab since web-vitals.js will not report LCP
  plugins/optimization-detective/detect.js
Labels: [Type] Bug, [Plugin] Optimization Detective

#1934 Fix TypeError in `perflab_aao_query_autoloaded_options()` by serializing non-scalar option values
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/helper.php
  plugins/performance-lab/tests/includes/site-health/audit-autoloaded-options/test-audit-autoloaded-options.php
Labels: [Type] Bug, [Plugin] Performance Lab

#1935 Add Codecov badge
  README.md
Labels: [Type] Enhancement, Infrastructure, no milestone

#1940 Allow disabling timestamp-based freshness checks by using negative TTL values
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1945 Implement quick wins to fix code coverage in Image Prioritizer and Embed Optimizer
  plugins/embed-optimizer/helper.php
  plugins/embed-optimizer/hooks.php
  plugins/embed-optimizer/load.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/tests/test-helper.php
Labels: [Type] Enhancement, [Plugin] Embed Optimizer, skip changelog, [Plugin] Image Prioritizer

#1942 Add Milestone Events to Pull Request Validation Workflow
  .github/workflows/pr-validation.yml
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1943 Remove deprecated `url_metrics_group_collection` and class aliases and bump required OD version in Image Prioritizer
  plugins/image-prioritizer/helper.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1951 Add URL Metric mutation helpers to extension initialization API
  plugins/embed-optimizer/detect.js
  plugins/embed-optimizer/helper.php
  plugins/image-prioritizer/detect.js
  plugins/image-prioritizer/helper.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/load.php
  plugins/optimization-detective/types.ts
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1956 Allow background image URLs for file types the web server doesn't know about, e.g. when AVIF is sent as `application/octet-stream`
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/tests/test-helper.php
Labels: [Type] Bug, [Plugin] Image Prioritizer

#1958 Update `finalize` docs in OD introduction readme
  plugins/optimization-detective/docs/introduction.md
Labels: [Type] Documentation, [Plugin] Optimization Detective, skip changelog
