Repository WordPress/performance, pull requests merged in 2025-02, with the labels that each got.

#1839 Change minimum viewport width to be exclusive whereas the maximum width remains inclusive
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/site-health.php
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/optimization-detective/tests/test-helper.php
  plugins/optimization-detective/types.ts
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1835 Disable URL Metric storage locking by default for administrators
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/tests/storage/test-class-od-storage-lock.php
  plugins/optimization-detective/tests/test-detection.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1802 Prevent URL in `Link` header from including invalid characters
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1846 Remove experimental flags from Embed Optimizer and Image Prioritizer
  README.md
  plugins/performance-lab/load.php
Labels: [Type] Enhancement, [Plugin] Performance Lab, [Plugin] Embed Optimizer, [Plugin] Image Prioritizer

#1848 Prevent optimizing post previews by default
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1847 Add post ID for the `od_url_metrics` post to the tag visitor context
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/tests/class-optimization-detective-test-helpers.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-cases/admin-bar/set-up.php
  plugins/optimization-detective/tests/test-cases/complete-url-metrics/set-up.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1851 Account for 64 KiB limit for sending beacon data
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1849 Use `IFRAME` to display HTML responses for REST API storage request failures in Site Health test
  plugins/optimization-detective/site-health.php
  plugins/optimization-detective/tests/test-site-health.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1840 Compute responsive `sizes` attribute based on the `width` from the `boundingClientRect` in captured URL Metrics
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/readme.txt
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-on-all-breakpoints-but-not-desktop-with-fully-populated-sample-data/set-up.php
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-with-desktop-metrics-missing/set-up.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-background-image-and-lazy-loaded-background-image-outside-viewport-with-fully-populated-sample-data/set-up.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data/buffer.html
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data/expected.html
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data/set-up.php
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated/expected.html
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated/set-up.php
  plugins/image-prioritizer/tests/test-cases/picture-element-as-lcp-tablet-and-desktop-metrics-missing/expected.html
  plugins/image-prioritizer/tests/test-cases/picture-element-with-lcp-image-and-fully-populated-sample-data/expected.html
  plugins/image-prioritizer/tests/test-cases/picture-element-with-source-having-media-attribute/expected.html
  plugins/image-prioritizer/tests/test-cases/picture-element-with-source-missing-type-attribute/expected.html
  plugins/image-prioritizer/tests/test-helper.php
  plugins/optimization-detective/tests/class-optimization-detective-test-helpers.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1782 Improve Optimization Detective documentation
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-data-validation-exception.php
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-tag-visitor-registry.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/class-od-visited-tag-state.php
  plugins/optimization-detective/docs/extensions.md
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/storage/rest-api.php
Labels: [Type] Documentation, [Plugin] Optimization Detective

#1863 Update URL Metric storage REST API endpoint to return status code `423 Locked` instead of `403 Forbidden`
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1866 Add percent encoding of URLs in `imagesrcset` param of `Link` response header
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#1870 Post 3.9.0 release merge
  README.md
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1869 Further update Optimization Detective documentation
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/docs/extensions.md
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/docs/images/felix-dream.png
  plugins/optimization-detective/docs/images/lazy-loading-embeds-after.png
  plugins/optimization-detective/docs/images/lazy-loading-embeds-before.png
  plugins/optimization-detective/docs/images/limitations-in-applying-fetchpriority-high-1.png
  plugins/optimization-detective/docs/images/limitations-in-applying-fetchpriority-high-2.png
  plugins/optimization-detective/docs/images/limitations-in-applying-lazy-loading-1.png
  plugins/optimization-detective/docs/images/limitations-in-applying-lazy-loading-2.png
  plugins/optimization-detective/docs/images/network-panel-after.png
  plugins/optimization-detective/docs/images/network-panel-before.png
  plugins/optimization-detective/docs/images/outline-button.png
  plugins/optimization-detective/docs/images/responsive-image-prioritization.png
  plugins/optimization-detective/docs/images/tweet-embed-after.gif
  plugins/optimization-detective/docs/images/tweet-embed-before.gif
  plugins/optimization-detective/docs/images/twentythirteen.png
  plugins/optimization-detective/docs/introduction.md
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/optimization.php
  webpack.config.js
Labels: [Type] Documentation, [Plugin] Optimization Detective

#1880 Fix oversights in Optimization Detective docs
  plugins/optimization-detective/docs/introduction.md
Labels: [Type] Documentation, [Plugin] Optimization Detective, skip changelog

#1883 Add support for Speculative Loading WP Core API, loading the plugin's own API implementation conditionally
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/plugin-api.php
  plugins/speculation-rules/tests/bootstrap.php
  plugins/speculation-rules/tests/test-speculation-rules-plugin-api.php
  plugins/speculation-rules/tests/test-speculation-rules-wp-core-api.php
  plugins/speculation-rules/tests/test-speculation-rules.php
  plugins/speculation-rules/wp-core-api.php
Labels: [Type] Enhancement, [Plugin] Speculative Loading

#1845 Improve Test Coverage for Speculation Rules Plugin
  plugins/speculation-rules/load.php
  plugins/speculation-rules/settings.php
  plugins/speculation-rules/tests/test-speculation-rules-settings.php
  plugins/speculation-rules/tests/test-speculation-rules-uninstall.php
  plugins/speculation-rules/uninstall.php
Labels: [Type] Enhancement, [Plugin] Speculative Loading, skip changelog

#1872 Update `OD_HTML_Tag_Processor::next_tag()` to allow `$query` arg and prepare to skip visiting tag closers by default
  plugins/embed-optimizer/hooks.php
  plugins/image-prioritizer/class-image-prioritizer-img-tag-visitor.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-cases/admin-bar/set-up.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1867 De-duplicate logic between REST API and URL Metrics post type
  plugins/embed-optimizer/tests/test-cases/single-twitter-embed-outside-viewport-on-mobile/set-up.php
  plugins/embed-optimizer/tests/test-cases/single-wordpress-tv-embed-outside-viewport-on-mobile/set-up.php
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-inside-viewport-with-only-mobile-url-metrics/set-up.php
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-outside-viewport-on-mobile/set-up.php
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-outside-viewport-with-only-mobile-url-metrics/set-up.php
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-on-all-breakpoints-but-not-desktop-with-fully-populated-sample-data/set-up.php
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-with-desktop-metrics-missing/set-up.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-and-lazy-loaded-image-outside-viewport-with-fully-populated-sample-data/set-up.php
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-with-fully-incomplete-sample-data/set-up.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-all-breakpoints/set-up.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-non-consecutive-viewport-groups-with-missing-data-for-middle-group/set-up.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints-and-one-is-stale/set-up.php
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints/set-up.php
  plugins/image-prioritizer/tests/test-cases/fetch-priority-high-on-lcp-image-common-on-mobile-and-desktop-with-url-metrics-missing-in-other-groups/set-up.php
  plugins/image-prioritizer/tests/test-cases/images-located-above-or-along-initial-viewport/set-up.php
  plugins/image-prioritizer/tests/test-cases/img-non-native-lazy-loading/set-up.php
  plugins/image-prioritizer/tests/test-cases/lcp-element-external-background-image-complete-samples-but-element-absent/set-up.php
  plugins/image-prioritizer/tests/test-cases/lcp-element-external-background-image-present-in-document-and-fully-populated-samples/set-up.php
  plugins/image-prioritizer/tests/test-cases/lcp-element-external-background-image-present-in-document-and-partially-populated-samples/set-up.php
  plugins/image-prioritizer/tests/test-cases/multiple-videos-on-all-breakpoints/set-up.php
  plugins/image-prioritizer/tests/test-cases/multiple-videos-with-desktop-metrics-missing/set-up.php
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated/set-up.php
  plugins/image-prioritizer/tests/test-cases/picture-element-as-lcp-tablet-and-desktop-metrics-missing/set-up.php
  plugins/image-prioritizer/tests/test-cases/responsive-background-images/set-up.php
  plugins/image-prioritizer/tests/test-cases/url-metric-only-captured-for-one-breakpoint/set-up.php
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-collected/set-up.php
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-missing/set-up.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-all-breakpoints/set-up.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-desktop-only/set-up.php
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-mobile-and-desktop-but-not-tablet/set-up.php
  plugins/image-prioritizer/tests/test-cases/video-without-poster-lcp-element-on-desktop-only/set-up.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/class-optimization-detective-test-helpers.php
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective
