Repository WordPress/performance, pull requests merged in 2025-04, with the labels that each got.

#1795 Accurate sizes: Add ancestor block context
  .wp-env.json
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
Labels: [Type] Feature, no milestone, [Plugin] Enhanced Responsive Images

#1959 Add gzip compression for URL metrics using Compression Streams API
  .eslintrc.js
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/storage/test-class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/optimization-detective/tests/test-hooks.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1968 Ensure URL Metric is initially constructed with all elements prior to initializing extensions
  plugins/optimization-detective/detect.js
Labels: [Type] Bug, [Plugin] Optimization Detective

#1974 Bump WordPress Tested up to versions of all plugins to 6.8.
  plugins/auto-sizes/readme.txt
  plugins/dominant-color-images/readme.txt
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/readme.txt
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/readme.txt
  plugins/web-worker-offloading/readme.txt
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone, skip changelog

#1978 Simplify get_post() and perflab_sanitize_plugin_slug() by removing unnecessary else blocks
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/performance-lab/includes/admin/load.php
Labels: [Type] Enhancement, no milestone, [Plugin] Performance Lab, [Plugin] Optimization Detective

#1818 Accurate sizes: Get accurate sizes base on ancestor block context
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Feature, no milestone, [Plugin] Enhanced Responsive Images

#1976 Add workaround for action-wordpress-plugin-asset-update requiring `readme.txt` at workspace root
  .github/workflows/bump-wordpress-tested-up-to.yml
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1980 Revert WP version to latest
  .wp-env.json
  plugins/auto-sizes/auto-sizes.php
Labels: [Type] Enhancement, no milestone, [Plugin] Enhanced Responsive Images, skip changelog

#1990 Merge latest changes to feature branch
  composer.lock
  package-lock.json
  package.json
  plugins/dominant-color-images/tests/test-dominant-color-image-editor-imagick.php
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1998 Scaffold View Transitions feature plugin
  .github/CODEOWNERS
  .github/workflows/php-test-plugins.yml
  .wp-env.json
  composer.json
  package.json
  phpunit.xml.dist
  plugins/view-transitions/hooks.php
  plugins/view-transitions/includes/theme.php
  plugins/view-transitions/phpcs.xml.dist
  plugins/view-transitions/readme.txt
  plugins/view-transitions/tests/test-hooks.php
  plugins/view-transitions/tests/test-theme.php
  plugins/view-transitions/view-transitions.php
Labels: [Type] Feature, no milestone, [Plugin] View Transitions
