Repository WordPress/performance, pull requests merged in 2025-07, with the labels that each got.

#2077 Update: Remove experimental from Enhanced Responsive Images readme.txt
  README.md
  plugins/auto-sizes/readme.txt
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
Labels: [Type] Enhancement

#2051 Allow control over view transition animation duration
  plugins/view-transitions/css/view-transition-animation-slide.css
  plugins/view-transitions/css/view-transition-animation-swipe.css
  plugins/view-transitions/css/view-transition-animation-wipe.css
  plugins/view-transitions/includes/settings.php
  plugins/view-transitions/includes/theme.php
Labels: [Type] Enhancement, [Plugin] View Transitions

#2068 View-Transitions: Respect prefers-reduced-motion settings
  plugins/view-transitions/includes/theme.php
Labels: [Type] Bug, [Plugin] View Transitions

#2081 Set default view transition duration to 400 for better alignment with browser default
  plugins/view-transitions/includes/settings.php
  plugins/view-transitions/includes/theme.php
Labels: [Type] Bug, [Plugin] View Transitions

#2088 View Transitions: Fix admin opt-in checkbox appears stretched on mobile
  plugins/view-transitions/includes/settings.php
Labels: [Type] Bug, [Plugin] View Transitions

#2095 Enable testing for PHP 8.4
  .github/workflows/php-test-plugins.yml
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#2096 Bump @wordpress/env from 10.26.0 to 10.27.0
  package-lock.json
  package.json
Labels: [Type] Enhancement, no milestone, javascript
