Repository WordPress/performance, pull requests merged in 2025-01, with the labels that each got.

#1772 Switch to wp_content_img_tag filter for Improved Image Handling
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/tests/data/class-testcase.php
  plugins/webp-uploads/tests/test-load.php
  plugins/webp-uploads/tests/test-picture-element.php
Labels: [Type] Enhancement, [Plugin] Modern Image Formats

#1653 Fix code coverage collection & reporting
  .github/workflows/php-test-plugins.yml
  composer.lock
  package.json
  phpunit.xml.dist
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Bug, Infrastructure, no milestone

#1764 Remove requirement for both mobile and desktop URL metrics for preconnect links in Embed Optimizer
  phpunit.xml.dist
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/tests/test-cases/all-embeds-inside-viewport.php
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-inside-viewport-with-only-mobile-url-metrics.php
  plugins/embed-optimizer/tests/test-optimization-detective.php
Labels: [Type] Bug, [Plugin] Embed Optimizer

#1763 Move Optimization Detective docs into README.md
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/docs/README.md
  plugins/optimization-detective/docs/extensions.md
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/docs/introduction.md
  plugins/optimization-detective/readme.txt
Labels: [Type] Documentation, no milestone, [Plugin] Optimization Detective

#1768 Fix name of function to refer to root schema instead of element item schema; move filter addition to init function
  plugins/embed-optimizer/detect.js
  plugins/image-prioritizer/helper.php
  plugins/image-prioritizer/hooks.php
  plugins/image-prioritizer/tests/test-helper.php
  plugins/image-prioritizer/tests/test-hooks.php
Labels: [Type] Bug, [Plugin] Embed Optimizer, skip changelog, [Plugin] Image Prioritizer

#1783 Skip visiting any tags inside of NOSCRIPT elements
  plugins/image-prioritizer/tests/test-cases/img-non-native-lazy-loading.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-cases/noscript.php
Labels: [Type] Bug, [Plugin] Optimization Detective, [Plugin] Image Prioritizer

#1784 Implement speculative loading considerations for safer behavior
  plugins/speculation-rules/helper.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/tests/test-speculation-rules-helper.php
  plugins/speculation-rules/tests/test-speculation-rules.php
Labels: [Type] Enhancement, [Plugin] Speculative Loading

#1788 Eliminate varying URL Metrics by logged-in state and discontinue disabling optimization by default for admins
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/docs/introduction.md
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/storage/test-data.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1759 Allow extensions to opt-in to using the web-vitals attribution build via the `od_use_web_vitals_attribution_build` filter
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/tests/test-detection.php
  plugins/optimization-detective/types.ts
  webpack.config.js
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1762 Add site health check to detect blocked REST API and short-circuit optimization when Inaccessible
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/site-health.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/test-helper.php
  plugins/optimization-detective/tests/test-hooks.php
  plugins/optimization-detective/tests/test-optimization.php
  plugins/optimization-detective/tests/test-site-health.php
  plugins/optimization-detective/uninstall.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1727 Add Site Health test to verify that static assets are served with far-future expires
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/helper.php
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/hooks.php
  plugins/performance-lab/includes/site-health/load.php
  plugins/performance-lab/tests/includes/site-health/effective-asset-cache-headers/test-effective-asset-cache-headers.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1817 Improve test coverage for Optimization Detective
  plugins/optimization-detective/class-od-link-collection.php
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/hooks.php
  plugins/optimization-detective/storage/rest-api.php
  plugins/optimization-detective/tests/storage/test-rest-api.php
  plugins/optimization-detective/tests/test-cases/preload-link/buffer.html
  plugins/optimization-detective/tests/test-cases/preload-link/expected.html
  plugins/optimization-detective/tests/test-cases/preload-link/set-up.php
  plugins/optimization-detective/tests/test-class-od-element.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-class-od-link-collection.php
  plugins/optimization-detective/tests/test-class-od-strict-url-metric.php
  plugins/optimization-detective/tests/test-class-od-tag-visitor-registry.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group-collection.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
  plugins/optimization-detective/tests/test-detection.php
  plugins/optimization-detective/tests/test-hooks.php
  plugins/optimization-detective/tests/test-optimization.php
  plugins/optimization-detective/uninstall.php
Labels: [Type] Enhancement, skip changelog

#1816 Skip visiting tags in the Admin Bar when optimizing a page
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/tests/test-cases/admin-bar/buffer.html
  plugins/optimization-detective/tests/test-cases/admin-bar/expected.html
  plugins/optimization-detective/tests/test-cases/admin-bar/set-up.php
  plugins/optimization-detective/tests/test-class-od-html-tag-processor.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1807 Add Site Health check for `Cache-Control` headers to prevent bfcache from being disabled
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/helper.php
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/hooks.php
  plugins/performance-lab/includes/site-health/load.php
  plugins/performance-lab/tests/includes/site-health/bfcache-compatibility-headers/test-bfcache-compatibility-headers.php
Labels: [Type] Enhancement, [Plugin] Performance Lab

#1822 Ensure optimization is performed in the wp-env local environment and log debug messages to console when disabled
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Bug, [Plugin] Optimization Detective

#1823 Add support for pre-release version syntax to all relevant tools
  bin/plugin/commands/readme.js
  bin/plugin/commands/since.js
  bin/plugin/commands/versions.js
  tools/webpack/utils.js
Labels: [Type] Enhancement, Infrastructure, no milestone

#1826 Remove `no-cache` and `max-age=0` from bfcache failure conditions
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/helper.php
  plugins/performance-lab/tests/includes/site-health/bfcache-compatibility-headers/test-bfcache-compatibility-headers.php
Labels: [Type] Bug, [Plugin] Performance Lab, skip changelog

#1827 Prepare 3.8.0 release
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-visited-tag-state.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/site-health.php
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/helper.php
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/hooks.php
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/helper.php
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/settings.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1830 Post 3.8.0 release merge
  plugins/embed-optimizer/class-embed-optimizer-tag-visitor.php
  plugins/embed-optimizer/load.php
  plugins/embed-optimizer/readme.txt
  plugins/image-prioritizer/load.php
  plugins/image-prioritizer/readme.txt
  plugins/optimization-detective/class-od-element.php
  plugins/optimization-detective/class-od-html-tag-processor.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-visited-tag-state.php
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/load.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/readme.txt
  plugins/optimization-detective/site-health.php
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/helper.php
  plugins/performance-lab/includes/site-health/bfcache-compatibility-headers/hooks.php
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/helper.php
  plugins/performance-lab/includes/site-health/effective-asset-cache-headers/hooks.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/performance-lab/tests/includes/site-health/bfcache-compatibility-headers/test-bfcache-compatibility-headers.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/load.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/settings.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, skip changelog

#1824 Make ETag a required property of the URL Metric
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/storage/test-class-od-url-metrics-post-type.php
  plugins/optimization-detective/tests/test-class-od-url-metric.php
  plugins/optimization-detective/tests/test-class-od-url-metrics-group.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#1803 Eliminate usage of `empty()` construct
  phpstan.neon.dist
  plugins/dominant-color-images/hooks.php
  plugins/performance-lab/includes/server-timing/class-perflab-server-timing.php
  plugins/performance-lab/includes/site-health/audit-autoloaded-options/hooks.php
  plugins/performance-lab/includes/site-health/audit-enqueued-assets/hooks.php
  plugins/webp-uploads/deprecated.php
  plugins/webp-uploads/helper.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/image-edit.php
  plugins/webp-uploads/rest-api.php
  plugins/webp-uploads/tests/data/class-image-has-source-constraint.php
Labels: [Type] Enhancement, no milestone

#1804 Clear out and remove `/tests` directory
  .github/workflows/php-test-plugins.yml
  phpstan.neon.dist
  phpunit.xml.dist
  plugins/auto-sizes/tests/bootstrap.php
  plugins/auto-sizes/tests/data/images/leaves.jpg
  plugins/dominant-color-images/tests/data/class-testcase.php
  plugins/dominant-color-images/tests/data/images/balloons.webp
  plugins/dominant-color-images/tests/test-dominant-color.php
  plugins/embed-optimizer/tests/bootstrap.php
  plugins/image-prioritizer/tests/bootstrap.php
  plugins/image-prioritizer/tests/data/images/car.jpeg
  plugins/optimization-detective/tests/bootstrap.php
  plugins/optimization-detective/tests/class-optimization-detective-test-helpers.php
  plugins/optimization-detective/tests/test-uninstall.php
  plugins/speculation-rules/tests/test-speculation-rules-uninstall.php
  plugins/webp-uploads/tests/data/images/balloons.webp
  plugins/webp-uploads/tests/data/images/car.jpeg
  plugins/webp-uploads/tests/data/images/dice.png
  plugins/webp-uploads/tests/data/images/earth.gif
  plugins/webp-uploads/tests/data/images/image.jpeg
  plugins/webp-uploads/tests/data/images/image.jpg
  plugins/webp-uploads/tests/data/images/leaves.jpg
  plugins/webp-uploads/tests/data/images/paint.jpeg
  tools/phpcs/phpcs.ruleset.xml
  tools/phpstan/constants.php
  tools/phpunit/bootstrap.php
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog
