Repository WordPress/performance, pull requests merged in 2025-05, with the labels that each got.

#2003 Merge latest changes to feature branch
  .github/CODEOWNERS
  .github/workflows/php-test-plugins.yml
  .wp-env.json
  composer.json
  composer.lock
  package.json
  phpunit.xml.dist
  plugins/view-transitions/hooks.php
  plugins/view-transitions/includes/theme.php
  plugins/view-transitions/phpcs.xml.dist
  plugins/view-transitions/readme.txt
  plugins/view-transitions/tests/test-hooks.php
  plugins/view-transitions/tests/test-theme.php
  plugins/view-transitions/view-transitions.php
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1988 Add E2E tests setup for Auto Sizes
  .github/workflows/e2e-test.yml
  .gitignore
  package-lock.json
  package.json
  plugins/auto-sizes/tests/e2e/specs/improve-calculate-sizes.spec.js
  tools/e2e/playwright.config.ts
  tsconfig.json
Labels: [Type] Enhancement, no milestone, [Plugin] Enhanced Responsive Images, skip changelog

#1999 Add support for dynamic view transition names for global elements, and certain post elements to View Transitions plugin
  .eslintrc.js
  plugins/view-transitions/hooks.php
  plugins/view-transitions/includes/functions.php
  plugins/view-transitions/includes/theme.php
  plugins/view-transitions/js/types.ts
  plugins/view-transitions/js/view-transitions.js
  plugins/view-transitions/readme.txt
  plugins/view-transitions/tests/test-hooks.php
  plugins/view-transitions/tests/test-theme.php
  plugins/view-transitions/view-transitions.php
  webpack.config.js
Labels: [Type] Enhancement, no milestone, [Plugin] View Transitions

#1979 Enhance Optimization Detective meta generator tag with all disabled reasons
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/tests/test-helper.php
  plugins/optimization-detective/tests/test-optimization.php
Labels: [Type] Enhancement, [Plugin] Optimization Detective

#2005 Fix typos and clarify grammar in documentation and comments
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-template-optimization-context.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/deprecated.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/extensions.md
  plugins/optimization-detective/docs/introduction.md
  plugins/optimization-detective/site-health.php
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/uninstall.php
Labels: [Type] Bug, [Plugin] Optimization Detective, skip changelog

#2013 Fix merge conflict
  .eslintrc.js
  composer.lock
  package-lock.json
  package.json
  plugins/optimization-detective/class-od-strict-url-metric.php
  plugins/optimization-detective/class-od-tag-visitor-context.php
  plugins/optimization-detective/class-od-template-optimization-context.php
  plugins/optimization-detective/class-od-url-metric-group-collection.php
  plugins/optimization-detective/class-od-url-metric-group.php
  plugins/optimization-detective/class-od-url-metric.php
  plugins/optimization-detective/deprecated.php
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/docs/extensions.md
  plugins/optimization-detective/docs/hooks.md
  plugins/optimization-detective/docs/introduction.md
  plugins/optimization-detective/helper.php
  plugins/optimization-detective/optimization.php
  plugins/optimization-detective/site-health.php
  plugins/optimization-detective/storage/class-od-rest-url-metrics-store-endpoint.php
  plugins/optimization-detective/storage/class-od-storage-lock.php
  plugins/optimization-detective/storage/class-od-url-metric-store-request-context.php
  plugins/optimization-detective/storage/class-od-url-metrics-post-type.php
  plugins/optimization-detective/storage/data.php
  plugins/optimization-detective/tests/test-helper.php
  plugins/optimization-detective/tests/test-optimization.php
  plugins/optimization-detective/uninstall.php
  plugins/view-transitions/hooks.php
  plugins/view-transitions/includes/functions.php
  plugins/view-transitions/includes/theme.php
  plugins/view-transitions/js/types.ts
  plugins/view-transitions/js/view-transitions.js
  plugins/view-transitions/readme.txt
  plugins/view-transitions/tests/test-hooks.php
  plugins/view-transitions/tests/test-theme.php
  plugins/view-transitions/view-transitions.php
  webpack.config.js
Labels: [Type] Enhancement, Infrastructure, no milestone, skip changelog

#1996 Implement opt-in `PERFLAB_PLACE_OBJECT_CACHE_DROPIN` for Server-Timing `object-cache.php` placement
  plugins/performance-lab/load.php
  plugins/performance-lab/tests/test-load.php
Labels: [Type] Enhancement, [Plugin] Performance Lab
