Repository WordPress/performance, pull requests merged in 2025-08, with the labels that each got.

#2108 Avoid possible error when reading groups in debug mode
  plugins/optimization-detective/detect.js
Labels: [Type] Bug, [Plugin] Optimization Detective

#2017 Delay loading detect module until page is loaded and idle
  plugins/embed-optimizer/tests/test-cases/nested-figure-embed/expected.html
  plugins/embed-optimizer/tests/test-cases/single-spotify-embed-outside-viewport-with-subsequent-script/expected.html
  plugins/embed-optimizer/tests/test-cases/single-wordpress-tv-embed-inside-viewport/expected.html
  plugins/embed-optimizer/tests/test-cases/single-wordpress-tv-embed-outside-viewport-on-mobile/expected.html
  plugins/embed-optimizer/tests/test-cases/single-wordpress-tv-embed-outside-viewport/expected.html
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-inside-viewport-with-only-mobile-url-metrics/expected.html
  plugins/embed-optimizer/tests/test-cases/single-youtube-embed-outside-viewport-with-only-mobile-url-metrics/expected.html
  plugins/embed-optimizer/tests/test-cases/too-many-bookmarks/expected.html
  plugins/image-prioritizer/tests/test-cases/background-image-outside-viewport-with-desktop-metrics-missing/expected.html
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-with-fully-incomplete-sample-data/expected.html
  plugins/image-prioritizer/tests/test-cases/common-lcp-image-with-old-xpath-format/expected.html
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-all-breakpoints/expected.html
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-non-consecutive-viewport-groups-with-missing-data-for-middle-group/expected.html
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints-and-one-is-stale/expected.html
  plugins/image-prioritizer/tests/test-cases/different-lcp-elements-for-two-non-consecutive-breakpoints/expected.html
  plugins/image-prioritizer/tests/test-cases/fetch-priority-high-on-lcp-image-common-on-mobile-and-desktop-with-url-metrics-missing-in-other-groups/expected.html
  plugins/image-prioritizer/tests/test-cases/img-non-native-lazy-loading/expected.html
  plugins/image-prioritizer/tests/test-cases/lcp-element-external-background-image-present-in-document-and-partially-populated-samples/expected.html
  plugins/image-prioritizer/tests/test-cases/multiple-videos-on-all-breakpoints/expected.html
  plugins/image-prioritizer/tests/test-cases/multiple-videos-with-desktop-metrics-missing/expected.html
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-but-server-side-heuristics-added-fetchpriority-high/expected.html
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-for-image-without-src/expected.html
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-data-url-background-image/expected.html
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-data-url-image/expected.html
  plugins/image-prioritizer/tests/test-cases/no-url-metrics-with-non-background-image-style/expected.html
  plugins/image-prioritizer/tests/test-cases/no-url-metrics/expected.html
  plugins/image-prioritizer/tests/test-cases/only-mobile-and-desktop-groups-are-populated/expected.html
  plugins/image-prioritizer/tests/test-cases/picture-element-as-lcp-tablet-and-desktop-metrics-missing/expected.html
  plugins/image-prioritizer/tests/test-cases/preload-links-with-one-half-stale-group/expected.html
  plugins/image-prioritizer/tests/test-cases/url-metric-only-captured-for-one-breakpoint/expected.html
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-collected/expected.html
  plugins/image-prioritizer/tests/test-cases/video-with-large-poster-and-desktop-url-metrics-missing/expected.html
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-all-breakpoints/expected.html
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-desktop-only/expected.html
  plugins/image-prioritizer/tests/test-cases/video-with-poster-lcp-element-on-mobile-and-desktop-but-not-tablet/expected.html
  plugins/image-prioritizer/tests/test-cases/video-without-poster-lcp-element-on-desktop-only/expected.html
  plugins/optimization-detective/detect-loader.js
  plugins/optimization-detective/detect.js
  plugins/optimization-detective/detection.php
  plugins/optimization-detective/tests/class-optimization-detective-test-helpers.php
  plugins/optimization-detective/tests/test-cases/admin-bar/expected.html
  plugins/optimization-detective/tests/test-cases/many-images/expected.html
  plugins/optimization-detective/tests/test-cases/no-url-metrics/expected.html
  plugins/optimization-detective/tests/test-cases/noscript/expected.html
  plugins/optimization-detective/tests/test-cases/preload-link/expected.html
  plugins/optimization-detective/tests/test-cases/tag-track-opt-in/expected.html
  plugins/optimization-detective/tests/test-cases/video/expected.html
  plugins/optimization-detective/tests/test-cases/xhtml-response/expected.html
  plugins/optimization-detective/tests/test-detection.php
  webpack.config.js
Labels: [Type] Bug, [Plugin] Optimization Detective

#2106 Prepare release for `auto-sizes` plugin
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/readme.txt
Labels: [Type] Enhancement, Infrastructure, skip changelog

#2139 Added Missing Global Documentation
  plugins/embed-optimizer/helper.php
  plugins/image-prioritizer/helper.php
Labels: [Type] Documentation, no milestone, [Plugin] Embed Optimizer, skip changelog, [Plugin] Image Prioritizer

#2059 Use HTML Tag Processor to audit blocking scripts & styles in Site Health’s enqueued-assets test
  plugins/performance-lab/includes/site-health/audit-enqueued-assets/helper.php
  plugins/performance-lab/includes/site-health/audit-enqueued-assets/hooks.php
  plugins/performance-lab/tests/data/class-audit-assets-mock-assets.php
  plugins/performance-lab/tests/data/class-audit-assets-transients-set.php
  plugins/performance-lab/tests/data/class-site-health-mock-responses.php
  plugins/performance-lab/tests/includes/site-health/audit-enqueued-assets/test-audit-enqueued-assets-helper.php
  plugins/performance-lab/tests/includes/site-health/audit-enqueued-assets/test-audit-enqueued-assets.php
Labels: [Type] Bug, [Plugin] Performance Lab

#2138 Fix: Moved `column_count` context from `column` block to `columns` block to ensure it is available to ancestor blocks
  plugins/auto-sizes/includes/improve-calculate-sizes.php
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Bug, [Plugin] Enhanced Responsive Images

#1879 Improve Test Coverage for Auto Sizes Plugin
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/tests/test-auto-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images, skip changelog

#2140 Improve Test Coverage for Auto Sizes Plugin
  plugins/auto-sizes/tests/test-improve-calculate-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images, skip changelog

#2024 Fixes palette-based PNG uploads failing original full-size AVIF/WebP conversion under GD
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/tests/data/images/dice-palette.png
  plugins/webp-uploads/tests/test-load.php
Labels: [Type] Bug, [Plugin] Modern Image Formats

#2144 Add warning notice to Speculative Loading setting for authenticated users when persistent object cache is not present
  plugins/speculation-rules/settings.php
  plugins/speculation-rules/tests/test-speculation-rules-settings.php
Labels: [Type] Enhancement, [Plugin] Speculative Loading

#2145 Update Enhanced Responsive Images plugin description
  plugins/auto-sizes/readme.txt
Labels: [Type] Documentation, [Plugin] Enhanced Responsive Images

#2146 Remove `sizes=auto` as the functionality is now available in WordPress core
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/hooks.php
  plugins/auto-sizes/includes/auto-sizes.php
  plugins/auto-sizes/tests/test-auto-sizes.php
Labels: [Type] Enhancement, [Plugin] Enhanced Responsive Images

#2147 Prepare 2025-08-25 release
  plugins/auto-sizes/auto-sizes.php
  plugins/auto-sizes/readme.txt
  plugins/performance-lab/includes/admin/load.php
  plugins/performance-lab/includes/site-health/audit-enqueued-assets/helper.php
  plugins/performance-lab/load.php
  plugins/performance-lab/readme.txt
  plugins/performance-lab/tests/data/class-audit-assets-mock-assets.php
  plugins/speculation-rules/hooks.php
  plugins/speculation-rules/readme.txt
  plugins/speculation-rules/settings.php
  plugins/view-transitions/readme.txt
  plugins/view-transitions/view-transitions.php
  plugins/webp-uploads/hooks.php
  plugins/webp-uploads/load.php
  plugins/webp-uploads/readme.txt
Labels: [Type] Documentation, Infrastructure, no milestone, skip changelog
